[2019-10-21 12:36] ericaligo-NOAA opened #4 "Add 3D reflectivity to restart file"
The 3D reflectivity is written to restart file only the flag lrefres is set to true.  Changes made to GFS_restart.F90 and GFS_typdefs.F90. This works for GFDL, Thompson and Ferrier-Aligo microphysics.

[2019-10-29 18:20] JessicaMeixner-NOAA opened #5 "land mask and tsfco issue when cplflx=true"
Using the current (10/16) develop branch of fv3atm if you run with cplflx=true: The land mask on tile 4 shows differences with the oro_data and the surface temperature in FV3ATM does not match the composite temperature in CICE (where the composite is ai*ice surface temperature + (1-ai)*sst).  (See page 1 of attached). The final set of fixes use Moorthis' fixes (for the tsfco) and Denises's fix of

[2019-11-07 20:20] junwang-noaa opened #6 "Update in scale-aware TKE-based moist eddy-diffusion mass-flux scheme satmedmfvdifq"
Following code changes are made in satmedmfvdifq.f  to reduce the cold bias in lower atmosphere layer.

in satmedmfvdifq.f:
    1) background diffusivity (K0) (which was previously reduced with
increasing grid resolution and surface layer stability) goes back to the
current operational one.
    2) minimum TKE is deduced from the K0, which results in increased
minimum TKE and consequent increase of

[2019-11-07 20:23] junwang-noaa opened #7 "fixes in gfdl_cloud_microphys.F90 to reduce the cold bias in lower atmosphere layer"
The  gfdl_cloud_microphys.F90 is udpated to reduce the cold bias in lower atmosphere layer.  A new variable 'qmin1' was added to determine when reimin and resmin will be used. The qmin1 uses the original value from GFSv15.

[2019-11-12 19:36] RuiyuSun commented on #7
It looks fine to me.

[2019-11-18 19:53] climbfuji opened #9 "Missing change in CCPP physics"
The recent merge of https://github.com/NOAA-EMC/fv3atm/pull/8 contained a small change in GFS_physics_driver.F90 that was not made in CCPP. This PR addresses it: https://github.com/NCAR/ccpp-physics/pull/353

[2019-11-25 20:36] junwang-noaa commented on #7
The code was committed, close the issue.

[2019-11-25 20:36] #7 closed, assigned to nobody

[2019-11-25 20:39] junwang-noaa commented on #4
The code was committed, close the issue.

[2019-11-25 20:39] #4 closed, assigned to nobody

[2019-11-25 20:47] junwang-noaa opened #12 "using different POST control file for FH00 for inline post"
Inline POST needs to output different products at FH00 from other forecast hours. Currently POST has POST control file name hardcoded. POST group is working on updating the code to pass POST control file name into the subroutine that reads the file. Once that is done, post_gfs.F90 in fv3atm needs to be updated to pass a different POST control file at FH00. This capability is required for GFSv16 im

[2019-11-26 15:58] junwang-noaa opened #13 "update the time stamp at fh00 in inline post"
It is found that the time stamp at fh00 in inline POST has minutes in it. The following change is to fix the problem:
in io/post_gfs.F90

@@ -133,6 +133,7 @@ module post_gfs
 !
       ifhr  = mynfhr
       ifmin = mynfmin
+      if (ifhr == 0 ) ifmin = 0
       if(mype==0) print *,'bf set_postvars,ifmin=',ifmin,'ifhr=',ifhr
       call set_postvars_gfs(wrt_int_state,mpicomp,setvar_atmfile,   &

[2019-12-05 17:18] rmontuoro opened #15 "Add support for GEFS-Aerosols restart capability"
The following minor changes to FV3's coupling infrastructure are required to support bit-for-bit restart capability for GEFS-Aerosols:

- GSDCHEM, the coupled chemistry component in GEFS-Aerosols, uses precipitation tendencies computed as differences between FV3 accumulated precipitations at consecutive coupling steps.
Accumulation always begins at startup, whether the model is restarting or cold

[2019-12-05 17:29] rmontuoro opened #16 "Bug fixes in support of FV3GFS-AQM"
The following bugs were discovered during development work for the coupled FV3GFS-CMAQ system (FV3GFS-AQM):

- Floating invalid errors are generated due to uninitialized optical depth diagnostic arrays (0.55 and 10 um channels). The code needs to be refactored.

- The canopy resistance output variable needs to be initialized to zero in the Noah/OSU land-surface model sub driver. This is required f

[2019-12-05 18:20] jswhit2 opened #18 "Optimize netcdf write component"
Some modifications to the netcdf write component to improve IO speed and compression.

IO speed for uncompressed files has been improved by
1) making sure all attributes are written before nf90_enddef is called (rather than switching in and out of define model with nf90_enddef/nf90_redef).
2) creating the dataset with NF90_SHARE

C384 tests on hera show that these modifications improve the write s

[2019-12-05 20:38] jswhit2 commented on #18
I may have overstated the compression improvements gained by increasing the chunksize - it appears that in many cases the improvements are not all that significant.  However, it does speed up reading 2d horizontal slices of data quite significantly - which is a fairly common access pattern.  Read speeds for 3d slices do not appear to be affected.

[2019-12-05 21:19] junwang-noaa commented on #13
Code is committed, close ticket.

[2019-12-05 21:19] #13 closed, assigned to nobody

[2019-12-06 19:45] jswhit2 commented on #18
I have disabled writing of the _FillValue attribute, since the type of fill_value doesn't match the type of the variables in all cases this results in a 'fill value data type mismatch' error when you try to read the file.  The default _FillValue is now used.

[2019-12-10 23:13] jswhit2 opened #23 "parallel netcdf writes"
Parallel write capability is needed in module_write_netcdf.F90.  The current version of the netcdf library does not support parallel writing of compressed files, but uncompressed parallel writes should work.  Here are some steps needed to implement this:

1) add a flag to model_configure to indicate parallel IO is desired (for now make sure this flag is set to false if compression is enabled).
2)

[2019-12-13 22:41] grantfirl opened #24 "bug in gfsphysics/physics/moninedmf_hafs.f"
When the namelist option dspheat = True, the energy from turbulence dissipation is added to the heating rate from the hybrid EDMF PBL scheme. In the version modified for the HAFS application (gfsphysics/physics/moninedmf_hafs.f), a different hard-coded value is used to apply this heating (0.7 vs 0.5). This change is supposed to apply to all model levels, but as coded, the change is only applied to

[2019-12-13 22:43] grantfirl commented on #24
@BinLiu-NOAA @ChunxiZhang-NOAA
Weiguo Wang has been notified of the issue too.

[2019-12-16 12:58] junwang-noaa opened #25 "add capability to write out restart files at specified forecast hours"
It is requested from GDAS and GEFS that model should be able to write out restart files at forecast hours specified in model configuration file. Currently model can only output restart files with fixed frequency and the restart files at the end of forecast time are always written out.

Code changes will be made to use restart_interval variable in  model_configure to write out restart files at spec

[2019-12-16 13:22] junwang-noaa commented on #15
Raffaele,

Would you please list the code changes in fv3atm here so that we can add it to the branch for commit? Thanks.

[2019-12-16 13:28] junwang-noaa opened #26 "fix bug in ugwd"
Velary and hist team reported two buges to Fanglin:

1) [Jun.Wang@m72a2 FV3]$ git diff 8a567812 gfsphysics/GFS_layer/GFS_driver.F90
diff --git a/gfsphysics/GFS_layer/GFS_driver.F90 b/gfsphysics/GFS_layer/GFS_driver.F90
index 3b6a943..05f97bd 100644
--- a/gfsphysics/GFS_layer/GFS_driver.F90
+++ b/gfsphysics/GFS_layer/GFS_driver.F90
@@ -422,7 +422,7 @@ module GFS_driver
       call cires_ugwp_init(M

[2019-12-16 13:41] DeniseWorthen opened #28 "value of q_cond in atmos_cubed_sphere/model/fv_cmp.F90"
In atmos_cubed_sphere/model/fv_cmp.F90 the value of qpz and q_cond were changed from 1e-6 to 1e-8 at commit # [c86c32c6](https://github.com/NOAA-EMC/GFDL_atmos_cubed_sphere/commit/c86c32c6e112a106f551cbe498eccec199ee4c11). The value of q_cond at this [line](https://github.com/NOAA-EMC/GFDL_atmos_cubed_sphere/blob/c86c32c6e112a106f551cbe498eccec199ee4c11/model/fv_cmp.F90#L800) was not changed. Is t

[2019-12-16 14:15] climbfuji commented on #26
These bugs are fixed in the PR for ufs_public_release (https://github.com/NOAA-EMC/fv3atm/pull/22) and will be fixed with the follow-up PR from DTC to the develop branch.

[2019-12-16 14:20] SMoorthi-emc commented on #26
GWD updates look ok

[2019-12-16 15:15] junwang-noaa commented on #15
I see it, thanks.

[2019-12-16 16:09] rmontuoro commented on #15
@junwang-noaa, a description of the code changes in fv3atm is provided in issue #15 and #16 (see also PR #17)

[2019-12-16 16:56] junwang-noaa commented on #15
I see it, thanks. I am adding the code changes to the commit branch and expecting no impact on ufs-weather-model. Thanks.

[2019-12-17 13:32] junwang-noaa commented on #5
Code is combined with other changes in fv3atm pull request #8 on Nov 15, 2019. Close the pull request.

[2019-12-17 13:32] #5 closed, assigned to nobody

[2019-12-24 01:40] junwang-noaa commented on #6
Note: This issue will be closed when corresponding code changes are made in CCPP repo and the code is commit back to fv3atm

[2019-12-24 01:41] junwang-noaa commented on #6
Reference ticket #9 Missing change in CCPP physics.

[2019-12-24 01:43] junwang-noaa commented on #18
Jeff,

Are the code changes ready for commit for you are still working on it? Thanks.

[2019-12-24 01:50] jswhit commented on #18
It's ready

[2019-12-24 01:53] junwang-noaa commented on #23
Jeff,

Just a quick update, I am working on this following the steps you listed here. The coding is mostly done. One thing not listed in your steps and not clear to me  is about writing attribute, I assume it is OK to call nf90_put_att on all the mpi tasks?

[2019-12-24 01:58] junwang-noaa commented on #18
Thanks, I put it in the fv3atm commit queue, it will be committed early Jan after CCPP code changes.

[2019-12-24 02:01] jswhit commented on #23
Yes, creating the attributes, dimensions and variables can be done  on all tasks.  The only thing that needs to change is the nf90_put_var (writing data to the variable).

[2019-12-24 02:04] junwang-noaa commented on #23
Great! Currently I am going to test the code on dell as it has the parallel
netcdf lib Cory built. Will copy the code to hera for you to check when the
coding is done. Thanks.

On Mon, Dec 23, 2019 at 9:01 PM Jeff Whitaker <notifications@github.com>
wrote:

[2019-12-24 02:11] jswhit commented on #23
Jun - one thing to be aware of.  There are two parallel IO implementations with the same API - one that works with classic (non-hdf5) files and one that works with hdf5 files.  To enable both, you have to build with `--enable-parallel4` *and*  `--enable-pnetcdf`.  If Cory did not build with `--enable-pnetcdf` you will have to make this change

[code]

[2019-12-24 02:18] junwang-noaa commented on #23
I see, thanks for letting me know.

Jun

On Mon, Dec 23, 2019 at 9:11 PM Jeff Whitaker <notifications@github.com>
wrote:

[2019-12-24 03:24] climbfuji commented on #23
For your information, the pnetcdf (parallel-netcdf) library developed at Argonne Labs writes data in netCDF cdf-2 format (called 64-bit offset in pnetcdf; is essentially the same as netCDF 3 format and can be read and written with any unidata netCDF library from 3.x upwards, but parallel reads/writes require pnetcdf support as described by Jeff for netCDF 4.x). Note that early versions of netcdf 4

[2019-12-24 04:33] jswhit commented on #23
We have to use the hdf5 backend to get compression.  My experience is that parallel-hdf5 performance has improved quite a bit in recent versions.

[2019-12-24 04:41] climbfuji commented on #23
I forgot about the compression part. Good to hear that there has been a speedup in recent versions. The real test will be when we scale up the model to 3-5km global resolution and 100k +/- MPI tasks.

Out of curiosity, have you tried different compression levels (1-9 if I remember correctly) in terms of smaller file sizes versus loss in read/write performance?

Thanks for implementing this paralle

[2019-12-24 15:28] jswhit commented on #23
We're using a compression level of 1.

[2019-12-31 19:00] junwang-noaa commented on #28
Ruiyu,

Would you check this issue? Thanks.

[2019-12-31 19:01] junwang-noaa commented on #26
Code is committed.

[2019-12-31 19:01] #26 closed, assigned to nobody

[2019-12-31 19:02] junwang-noaa commented on #16
Code is committed.

[2019-12-31 19:02] #16 closed, assigned to nobody

[2019-12-31 19:02] junwang-noaa commented on #15
Code is committed.

[2019-12-31 19:02] #15 closed, assigned to nobody

[2019-12-31 19:03] junwang-noaa commented on #12
Code is committed.

[2019-12-31 19:03] #12 closed, assigned to nobody

[2019-12-31 19:03] junwang-noaa commented on #25
Code is committed.

[2019-12-31 19:03] #25 closed, assigned to nobody

[2019-12-31 19:25] junwang-noaa opened #35 "Reducing background vertical diffusivities in the inversion layers"
Jongil made code changes in satmedmfvdifq.f to reduce the background vertical diffusivities in the inversion layers in order to improve the stratocumulus. The code changes have been tested and are planned to be included in GFSv16 implementation.

[2019-12-31 19:31] junwang-noaa opened #36 "change nbit for delp compression in netcdf output"
Currently fv3 is using one single variable nbit for the compression of 3D model output fields. It turns out that the nbit(14 in fv3 parallel) could cause delp field to loose required precision, especially when delp is small in high altitude. Fanglin made a quick fix to use different nbit for delp field. This fix is planned to be used in GFSv16 implementation.

[2019-12-31 19:53] jswhit commented on #36
I thought this issue was resolved by fixing the helicity calculation in the post-processor?

[2019-12-31 20:08] jswhit commented on #36
Also, since ps is not truncated before compression, the fully accurate delp can be reconstructed from ps, a_k and b_k.

[2019-12-31 20:40] junwang-noaa commented on #36
Jeff,
Please see Anning's email below:

I just noticed that the calculation of pmid in the post has used hydrostatic approximation, which is not consistent the non-hydrostatic assumption:

pmid(i,j,l)=rgas*dpres(i,j,l)* &
                t(i,j,l)*(q(i,j,l)*fv+1.0)/grav/abs(buf3d(i,j,l))

In above formula, rou = delp/g/delz  use hydrostatic assumption. In addition to its unphysical issue, the dz<1.

[2019-12-31 21:11] jswhit commented on #36
I interpreted that to mean problem solved without extra precision - but maybe I'm not understanding.

[2020-01-01 04:43] junwang-noaa commented on #36
My understanding is that the fix is made from Anning's suggestion and is tested in fv3 parallel. I may miss something since I was off the last couple of days. I am including @yangfanglin and @AnningCheng-NOAA in this ticket for comments.

[2020-01-02 13:10] RuiyuSun commented on #28
Jun,

This is OK. I meant to change this.

thanks,
Ruiyu

On Tue, Dec 31, 2019 at 2:00 PM junwang-noaa <notifications@github.com>
wrote:

--

Ruiyu Sun, PhD

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2097

College Park, MD 20740

Ruiyu.Sun@noaa.gov <Joe.Smith@noaa.gov>

301-683-3787

[2020-01-02 13:53] junwang-noaa commented on #28
Ruiyu,

May I ask what is the impact of this change? Will it change fv3 parallel
results? Thanks.

Jun

On Thu, Jan 2, 2020 at 8:10 AM RuiyuSun <notifications@github.com> wrote:

[2020-01-03 03:07] edwardhartnett commented on #23
Howdy!

To clarify a few points:
* The CDF5 format originally developed by Argonne for pnetcdf is now part of the Unidata netCDF library as well, and is a canonical and supported binary format of netCDF. Older versions of netCDF will not understand it, but all recent and future versions do. So it is safe to use and distribute, however offers no compression.

* I have a PR open on the netcdf-c proj

[2020-01-03 03:13] climbfuji commented on #23
Thanks for the update, Ed. Did you ever get to play with the SIONlib backend and test its performance? We had a telecon with the developers in Juelich some time ago, and I didn't have any time to follow up on this, sorry.

[2020-01-03 13:50] edwardhartnett commented on #23
No I have not played with SIONlib but would be interested in learning more about it. There was an idea of writing a SIONlib read/write module for netcdf...

[2020-01-03 15:54] edwardhartnett commented on #23
OK, some more news: turns out that szip is already enabled in netcdf-c for writes! It's a bit of an undocumented feature.

For this to work, HDF5 must be built with szip (as well as the usual zlib).

Once netcdf-c is built on a HDF5 that supports szip, then szip compression may be turned on for a var like this:
[code]

Currently this will only work for sequential access. I am working on getting it

[2020-01-03 16:06] junwang-noaa commented on #23
That is great news! Thanks for letting us know!

Jun

On Fri, Jan 3, 2020 at 10:54 AM Edward Hartnett <notifications@github.com>
wrote:

[2020-01-07 16:49] yangfanglin commented on #36
Jeff:   Deriving pmid as averages of interfacing layer pressures does seem to solve all the problems.   However, the latest investigations are all based on the model output without delp compression.  We need to check again if there is still any issue with helicity computation and analysis increments etc if delp is compressed.  Given that the model sometimes tends to produce every thin layers, I'd

[2020-01-07 21:30] junwang-noaa opened #37 "fix the real(8) lat/lon in netcdf file"
It is reported that the values of lat/lon  in the netcdf history file are not exactly real(8) as they are defined in some of FV3 runs. The issue is identified in fv3 32bit runs when the lat/lon coordinate in the write component grid is changed from degrees to radians when computing the vector interpolation. The computation is done with real(4) numbers when compiled with 32BIT=Y so the values lat/l

[2020-01-07 21:37] junwang-noaa commented on #28
Talked to Ruiyu, here is a summary. The number in the line Denise showed is a tuning number that can be tested. So far the fv3 parallel results are good with this number in the code. Further tests can be conducted to check if this qcond condition needs to be changed. In a summary, it is not an issue so far. Close ticket.

[2020-01-07 21:37] #28 closed, assigned to RuiyuSun

[2020-01-07 22:02] jswhit2 commented on #23
@junwang-noaa - do you have a branch with the parallel-io mods in it that I can play with?

[2020-01-07 22:05] yangfanglin commented on #36
Wen Meng ran the latest UPP, which computes pmid as averages of interfacing layer pressures instead of using the  hydrostatic equation,  with compressed netCDF history files (including delp).  The odd features did not resurface.   So we can revert back to apply the same compression (nbits=14) to all variables in the history file.

[2020-01-08 03:51] junwang-noaa commented on #23
Yes. The code gets compiled on mars, but I haven't tested the parallel netcdf case yet.

[submodule "FV3"]
        path = FV3
        url = https://github.com/junwang-noaa/fv3atm
        branch = netcdf_parallel

The branch also has the code changes for real(8) lon/lat in netcdf file and a bug fix for post.

[2020-01-08 18:38] jswhit2 commented on #23
Thanks @junwang-noaa, I will give it a spin on hera.

[2020-01-08 22:04] jswhit2 commented on #23
I've made a few changes to @junwang-noaa's netcdf_parallel branch and *almost* have it running on hera (without compression).  The files are created, but the data isn't actually written.  Jun - if you give me access to your fork I can push my changes there, or if you prefer I can create my own fork.

[2020-01-09 02:00] junwang-noaa commented on #23
I added you as a collaborator, once you accept the invitation, you should
be able to push to the branch. Please let me know if you still can't.

Jun

On Wed, Jan 8, 2020 at 5:04 PM Jeffrey Whitaker <notifications@github.com>
wrote:

[2020-01-09 16:24] DeniseWorthen opened #38 "ice fraction needs to be truncated to values < 1.0"
When running in coupled mode, the ice fraction imported from the mediator can be greater than 1. This is non-physical and results in a seg fault when the (1-fice) is used to calculate the surface stress3.

In atmos_model, the imported ice fraction needs to be bounded to be strictly between zero and one:

IPD_Data(nb)%Coupling%ficein_cpl(ix) = max(zero,min(datar8(i,j),one))

This is a bugfix and is

[2020-01-09 17:53] jswhit2 commented on #23
I've updated https://github.com/junwang-noaa/fv3atm/tree/netcdf_parallel, to include bug fixes and changes from PR #18.  It now runs on hera, and for uncompressed data shows some significant speedups.  Next step is to build the netcdf library with https://github.com/Unidata/netcdf-c/pull/1582 so we can test parallel compressed writes.

[2020-01-09 17:55] jswhit2 commented on #23
BTW - the code is now using independent (not collective) parallel access.  Collective access seems to be quite a bit slower in my tests - don't understand why.  Using independent access required changing the time dimension from unlimited to fixed length.

[2020-01-09 17:59] edwardhartnett commented on #23
Collective access is required for any filters in HDF5, including all compression filters. :-(

[2020-01-09 18:08] jswhit2 commented on #23
OK - I've updated the code to turn collective access for variables that are compressed.

[2020-01-09 18:12] junwang-noaa commented on #23
Ed,

Would we have a netcdf beta library that we can test in our FV3 parallel?
Thanks

Jun

On Thu, Jan 9, 2020 at 12:59 PM Edward Hartnett <notifications@github.com>
wrote:

[2020-01-09 18:35] jswhit2 commented on #23
Jun - it's not merged into master yet but we can check out https://github.com/NOAA-GSD/netcdf-c/tree/ejh_parallel_zlib.  I'll build this on hera.

[2020-01-09 18:46] junwang-noaa commented on #23
Jeff,

Do you have instructions on how to build it? I can build it on wcoss.
Thanks.

Jun

On Thu, Jan 9, 2020 at 1:35 PM Jeffrey Whitaker <notifications@github.com>
wrote:

[2020-01-09 19:41] mcgibbon opened #40 "ufs_public_release contains no coupler_main.f90"
Is it by design that the ufs_public_release branch contains no `coupler_main.f90` file?

[2020-01-09 19:50] jswhit2 commented on #23
Jun: Here's what I did on hera (haven't yet tested it)

* create a directory ${parlibpath}
* cd ${parlibpath}
* download hdf5-1.10.6.tar.gz and netcdf-fortran-4.5.2.tar.gz to that directory

To build HDF5:

* tar -xvzf hdf5-1.10.6.tar.gz
* cd hdf5-1.10.6
* ./configure --prefix=${parlibpath} --enable-hl --enable-parallel
* make
* make install

To build netcdf-c:

* git clone https://github.com/NOAA

[2020-01-09 19:54] climbfuji commented on #23
Just for your information,

I compiled the entire parallel I/O stack on hera for some other folks using MPAS and for my own 3km-global MPAS tests. I made those available as modules:

module use -a /scratch1/BMC/gmtb/software/modulefiles/intel-18.0.5.274/impi-2018.0.4

module load intel/18.0.5.274
module load impi/2018.0.4
module load pnetcdf/1.11.2-for-pio
module load netcdf/4.7.0-for-pio
# module

[2020-01-09 19:55] jswhit2 commented on #23
Dom: We need a bleeding edge version of netcdf-c from  https://github.com/NOAA-GSD/netcdf-c/tree/ejh_parallel_zlib compiled with parallel hdf support.

[2020-01-09 20:16] jswhit2 commented on #23
@edwardhartnett - with your branch I'm still getting `NetCDF: Invalid argument` in nf90_def_var when I enable compression filters in parallel mode.  Is there something that needs to be updated in the fortran interface?

[2020-01-09 20:31] jswhit2 commented on #23
Never mind - I had LD_LIBRARY_PATH set so that it was pulling in the wrong library at runtime.

[2020-01-09 20:45] climbfuji commented on #23
Got it, thanks.

[2020-01-09 21:28] jswhit2 commented on #23
When I run with the compression turned on, I'm getting a segfault in the ESMF library. I wonder if we need to recompile ESMF with the updated netcdf?  I think it may be pulling in the headers from the older version of netcdf that ESMF was compiled with.

[2020-01-09 21:31] climbfuji commented on #23
I'd say that is likely.

[2020-01-09 22:20] jswhit2 commented on #23
The segfault only occurs when compression is turned on.

[2020-01-09 22:31] climbfuji commented on #23
If you point me to your netCDF installation, I can quickly recompile ESMF for you.

[2020-01-09 22:34] jswhit2 commented on #23
/scratch2/BMC/gsienkf/whitaker/parallel-netcdf - thanks @climbfuji

[2020-01-09 22:43] climbfuji commented on #23
It's compiling, will let you know when it is done.

[2020-01-09 23:24] edwardhartnett commented on #23
Let me know if I can be of any assistance...

[2020-01-09 23:31] climbfuji commented on #23
[code]

This is what the module does:

[code]

[2020-01-09 23:49] jswhit2 commented on #23
Thanks @climbfuji.  Unfortunately, I'm still getting the same segfault the first time parallel IO is invoked with compression on (works fine with compression off).  I think we need your help here @edwardhartnett.  Here's the traceback, for what its worth:

[code]

[2020-01-09 23:56] climbfuji commented on #23
For what it's worth, I ran gmake check and got the following:
[code]

[2020-01-10 00:05] climbfuji commented on #23
Line 2010 in ESMCI_FTable.C is one of those "easy to understand" pieces of code in ESMF:
[code]
It's the line starting with `(*vf)`. May need to ask Gerhard for help?

If it helps you (it usually doesn't help me when it comes to ESMF), I can compile ESMF again with DEBUG flags on.

[2020-01-10 00:12] jswhit2 commented on #23
Recompiled the model in debug mode and got a better traceback

[code]

[2020-01-10 00:13] junwang-noaa commented on #23
I would guess this might not be an ESMF problem. I usually add print lines
to check where the code got seg fault. We have seen this error for many
cases, usually it's not in ESMF. I reported this kind of error report
problem to ESMF group.

On Thu, Jan 9, 2020 at 7:05 PM Dom Heinzeller <notifications@github.com>
wrote:

[2020-01-10 00:17] junwang-noaa commented on #23
Could it be that nbits  is zero or not defined?

On Thu, Jan 9, 2020 at 7:13 PM Jun Wang - NOAA Federal <jun.wang@noaa.gov>
wrote:

[2020-01-10 00:29] jswhit2 commented on #23
Yes - I think it is something like that @junwang-noaa.  Probably nothing to do with netcdf, so don't bother looking into this yet @edwardhartnett

[2020-01-10 00:31] jswhit2 commented on #23
Works when I set nbits = 0 (lossless compression) - so it's a bug in the quantization, not the parallel write.  Should have a fix for that tomorrow.  Parallel, compressed writes are working!

[2020-01-10 00:34] junwang-noaa commented on #23
Great! Thanks for making this working! I am going to test it on wcoss,

Jun

On Thu, Jan 9, 2020 at 7:31 PM Jeffrey Whitaker <notifications@github.com>
wrote:

[2020-01-10 01:38] climbfuji commented on #23
Great catch, Jun. Looking forward to having this capability in the model.

[2020-01-10 11:05] edwardhartnett commented on #23
Great! Can you guys get an idea of how much faster this will be?

Also, did you try with szip? That is now also available, also with parallel writes.

[2020-01-10 14:11] jswhit2 commented on #23
At C384, with four output times/four write groups, each with 22 write tasks on hera:

Lossy compression (nbits=14)
* without parallel IO:  ~52-56 secs to write each file
* with parallel IO: ~17-20 secs

so almost 3x speedup.  Still have to check the output to see if it's correct though....

[2020-01-10 14:11] jswhit2 commented on #23
this is with zlib, have not tried szip yet.

[2020-01-10 14:14] jswhit2 commented on #23
WIth parallel IO, the file size goes up a bit

[code]

uncompressed size
[code]

lossless compression
[code]

[2020-01-10 14:40] edwardhartnett commented on #23
Awesome! The size going up a bit is expected behavior when using zlib with parallel I/O.

Not sure what branch you built, but my most recent PR to the netcdf-c repo (not yet merged) provides new C function nc_def_var_szip(). You probably need that in Fortran, right? I will submit a PR to the netcdf-fortran repo with that so you can easily test szip with parallel I/O.

(Also you must build HDF5 so

[2020-01-10 15:28] jswhit2 commented on #23
Ed - that would be great.  Yes we do need it in Fortran.

[2020-01-10 15:50] jswhit2 commented on #23
The difference in compression isn't as large as I thought. I was using shuffle filter in the parallel case, and no shuffle in the serial case.  With shuffle off in both I get

[code]

so only a very slight difference.

[2020-01-10 15:55] junwang-noaa commented on #23
I have trouble to compile the netcdf-c on mars. I compiled the library
under emc.nemspara, only three modules are loaded:

 1) EnvVars/1.0.3   2) ips/18.0.1.163   3) impi/18.0.1

in the config.log, I have:
/gpfs/dell2/emc/modeling/noscrub/emc.nemspara/soft/netcdf_parallel/include/H5public.h:63:20:
fatal error: mpi.h: No such file or directory
 #   include <mpi.h>
                    ^
compilation

[2020-01-10 15:56] edwardhartnett commented on #23
Did you try setting CC=mpicc

[2020-01-10 15:59] CoryMartin-NOAA commented on #23
When I compiled the release version on Mars I used
CC=mpiicc
FC=mpiifort

[2020-01-10 16:20] jswhit2 commented on #23
Just added a pull request (PR #41) for this so it's easier for people to examine the code changes.

[2020-01-10 16:30] jswhit2 commented on #23
Output for lossless compression is identical with and without parallel IO.

For lossy compression, there are slight differences.  Not sure if this is to be expected or not.

[2020-01-10 16:34] CoryMartin-NOAA commented on #23
@jswhit2 could the differences for lossy compression be due to the way the quantizing is done and not the I/O?

[2020-01-10 16:37] jswhit2 commented on #23
Yes - I think it may be an order of operations thing.  The difference is about the same as the quantization error itself.

[2020-01-10 17:10] jswhit2 commented on #23
BTW, here's what I use to check the difference in output files

[code]

[2020-01-10 17:39] jswhit2 commented on #23
After re-ordering the quantization calculation in the parallel version to match the serial version, the output is now identical.

[2020-01-10 20:13] jswhit2 commented on #23
Scaling tests.  C384, 4 output times, 432 compute tasks, 4 write groups
Seems like at this resolution there's no point in having more than 12 write tasks per group.

[code]

For reference, the result without parallel IO
[code]

[2020-01-10 20:14] jswhit2 commented on #23
All tests so far have been done with the global model - need to test FV3SAR also.

[2020-01-10 20:31] junwang-noaa commented on #23
I am using CC=mpiicc, and FC=mpiifort, the netcdf-c got compiled. When I compile netcdf-fortran-4.5.2, I got error:

configure:23833: mpiicc -o conftest -g -O2 -I/gpfs/dell2/emc/modeling/noscrub/emc.nemspara/soft/netcdf_parallel/include -L/gpfs/dell2/emc/modeling/noscrub/emc.nemspara/soft/netcdf_parallel/lib conftest.c -lnetcdf -lm  >&5
configure:23833: $? = 0
configure:23833: ./conftest
./conftes

[2020-01-10 20:34] CoryMartin-NOAA commented on #23
@junwang-noaa looks like /gpfs/dell2/emc/modeling/noscrub/emc.nemspara/soft/netcdf_parallel/lib needs to be added to your LD_LIBRARY_PATH. It's there for compiling but not available at runtime for ./conftest.

[2020-01-10 20:37] edwardhartnett commented on #23
@jswhit adding szip to netcdf-fortran is going to require some negotiations. However, if you build the current netcdf-fortran against the netcdf-c lib you built, you can use nf_def_var_filter() to turn on the szip filter, and it will work in parallel I/O.

[2020-01-12 03:19] junwang-noaa commented on #23
Thanks, Cori. I am able to get the netcdf lib installed on mars.

@jswhit2 do you create netcdf/hfd5 module files or you just define the environment variables in the  modulefiles/hera.intel/fv3? Do you have a ufs-weather-model branch ready for the parallel writing test?

[2020-01-12 14:03] jswhit2 commented on #23
@junwang-noaa: I have not yet created module files (I just set the env vars - see `/scratch2/BMC/gsienkf/whitaker/ufs-weather-model-parnc/modulefiles/hera.intel/fv3`).  At runtime all you need is

[code]

It should be ready for testing, although it still needs modulefiles created on hera and WCOSS, plus a mechanism for turning off parallel netcdf support at build time.

[2020-01-13 22:06] mcgibbon opened #42 "Restarting model changes final result"
We are using the "ufs_public_release" branches of fv3atm, FMS, and stochastic_physics, and ESMF 8.0.0. We are using the GFS physics option. @oliverwm1 has also been working on this issue.

Our build configuration is in [configure.fv3.gnu_docker.txt](https://github.com/NOAA-EMC/fv3atm/files/4055792/configure.fv3.gnu_docker.txt)
Most of the namelist we're using is contained in [default_config.yml.tx

[2020-01-13 23:10] climbfuji commented on #42
One thing that comes to my mind is to check the interval for resetting the diagnostic variables (fhzero). Restarts only work if they coincide with a multiple of fhzero. I see that your fhzero value is 0.25, which would be ok, but I never tried using a fractional fhzero value in the first place. This wouldn't explain the differences for the dycore-only run, though.

- Which flags are you toggling f

[2020-01-14 00:12] mcgibbon commented on #42
The restart flags are:
[code]
All prognostic and diagnostic variables written out by the restart routines differ.

We're using our own docker setup, not the ufs-weather-model repo.

I checked the restart tests (e.g. [this one](https://github.com/ufs-community/ufs-weather-model/blob/develop/tests/tests/fv3_ccpp_restart)) and my impression is the tests are checking something different than what we'v

[2020-01-14 00:38] climbfuji commented on #42
NOAA-GSD is testing what you are trying to do for the GSD physics suite: https://github.com/NOAA-GSD/ufs-weather-model (branch gsd/develop). You are right about the way the regression tests are set up for the EMC branches, but as far as I know EMC tests the restart capabilities as you described them from time to time. Last I tested it successfully for the GFS suite is a few months back.

[2020-01-14 00:44] mcgibbon commented on #42
Where are those tests defined? As far as I can tell the tests with "restart" in the filename in `tests/tests` are identical.

[2020-01-14 01:01] climbfuji commented on #42
https://github.com/NOAA-GSD/ufs-weather-model/blob/gsd/develop/tests/tests/fv3_ccpp_gsd runs a 48h forecast. https://github.com/NOAA-GSD/ufs-weather-model/blob/gsd/develop/tests/tests/fv3_ccpp_gsd_coldstart runs a 24h forecast from the same initial conditions, and https://github.com/NOAA-GSD/ufs-weather-model/blob/gsd/develop/tests/tests/fv3_ccpp_gsd_warmstart uses the restart files from https://g

[2020-01-14 17:20] mcgibbon commented on #42
I do not see similar automated tests for the GFS physics (without ccpp), which we are using (and which is causing the issue). You said

It would be helpful to get the build and run configuration used so I can test them with our set-up.

[2020-01-14 19:01] climbfuji commented on #42
I will see if I find time this week to create those tests. Essentially I'd use a setup similar to the GSD tests described above but with the GFSv15p2 physics.

[2020-01-16 03:09] climbfuji commented on #42
Just to give you an update, with the AMS this week I haven't been able to set up these tests yet.

[2020-01-17 02:55] climbfuji commented on #42
I can confirm that with the namelist settings in the ufs_public_release branches for the GFS_v15p2 tests the restarts do not work. I am now trying to fix this, I've got a few ideas what may be the difference to the tests that we know are b4b reproducible in restart runs.

[2020-01-17 03:17] climbfuji commented on #42
See also here for a similar report - https://github.com/ufs-community/ufs-mrweather-app/issues/62

[2020-01-17 16:10] climbfuji commented on #42
See here for an update https://github.com/ufs-community/ufs-mrweather-app/issues/62 .

[2020-01-18 17:37] DusanJovic-NOAA commented on #42
Please take a look at this branch https://github.com/DusanJovic-NOAA/ufs-weather-model/tree/ctrl_rest.

I modified fv3_restart test slightly to use 12h restart files from a previous fv3_control run and compare 24h outputs against 24h outputs from a fv3_control run. I believe this is the actual restart test that verifies that the restart run is b4b identical to the cold start run. If you have acces

[2020-01-19 02:39] junwang-noaa commented on #23
I am able to run some test on wcoss dell. Here are some results from C192 with 1 write group and 12 tasks per group:

Netcdf compressed: ideflate=1, nbits=14,
sequential:
[288]  netcdf      Write Time is   13.24216 at Fcst   24:00
[288]  netcdf      Write Time is    3.08769 at Fcst   24:00
[288]  total            Write Time is   16.41797 at Fcst   24:00
parallel:
[288]  parallel netcdf      Write

[2020-01-19 02:45] climbfuji commented on #42
Ok, I got this figured out. The culprit was the `nstf_name` setting in the `input.nml` namelists that we received originally for v15p2 and v16beta:
[code]
For restarts, this would have to be
[code]
but it doesn't work. I changed this back to the default value in all incoupled ufs-weather-model regression tests in the develop branch
[code]
or, for restarts,
[code]
and then I get b4b identical resul

[2020-01-19 02:52] climbfuji commented on #42
Attached is a tarball with the run directories of the full `rt.conf` regression test suite for the above PR as it was generated on Cheyenne for the Intel compiler. Discard whatever you don't need and look at the input.nml and model_configure files. These are the only ones that need to be changed. For restart runs, copy/link the contents (files) of the `RESTART` directory from the previous run into

[2020-01-19 03:05] junwang-noaa commented on #42
Thanks for fixing this. We need to commit this change.

[2020-01-19 05:20] climbfuji commented on #42
Great, thanks! This is exactly what I have done for GSD's restart test in the past (https://github.com/NOAA-GSD/ufs-weather-model, branch gsd/develop; modulo that I am running 48h forecasts when creating baselines and then two 24h forecasts, a coldstart and a restart, comparing against the 48h runs). I created a PR for ufs_public_release that does the same thing this evening. Yes, please create a

[2020-01-19 14:53] jswhit2 commented on #23
I think that there just isn't enough data being written to overcome the communications overhead for the 2d surface fields.

[2020-01-20 02:19] junwang-noaa commented on #23
So for parallel writing compressed data, is it possible that we can do parallel writing on the number of fields, e.g. writing slides of data (istt:iend, jstt:jend,nfield_stt:nfield_end)?

[2020-01-22 03:48] junwang-noaa commented on #23
Here are some test results on wcoss dell with C384 fv3 ensemble run. The data size is slightly increased.

parallel writing:
-rw-r--r-- 1 Jun.Wang g01 1844435007 Jan 22 03:27 atmf000.nc
-rw-r--r-- 1 Jun.Wang g01 1830870160 Jan 22 03:29 atmf001.nc
-rw-r--r-- 1 Jun.Wang g01  279801964 Jan 22 03:28 sfcf000.nc
-rw-r--r-- 1 Jun.Wang g01  270925570 Jan 22 03:30 sfcf001.nc

No parallel:
-rw-r--r-- 1 Jun.

[2020-01-22 13:34] junwang-noaa commented on #23
Here are results from C768L127, results look promising. Writing the 3D file atmf file speeds up ~15 times (450s down to 30s), while 2D surface file writing increases 60% (45s to 70s). Total time on writing grid comp (writing 2 history files and inline post) for one forecast hour is reduced from 550s->150s. Inline post takes 50s in both runs.

file size:
parallel writing:
-rw-r--r-- 1 Jun.Wang g01

[2020-01-22 13:45] edwardhartnett commented on #23
OK, szip write capability is waiting a merge to master on the netcdf-c project. Once that is done, you can try these tests using szip as well as zlib. (Or you can build netcdf-c branch ejh_szip).

I am also working on making the LZ4 compression filter available. Reportedly it is a lot faster. But that's not ready for you to try yet...

[2020-01-22 17:52] jswhit commented on #23
@junwang-noaa - I'm looking to turn off parallel writes for the 2d file in model_wrt_grid_comp.F90.  I can do this by checking the value of nbdl (nbdl == 1 is the 3D file).  Is there a better way to check which bundle contains the 3D fields?

[2020-01-22 22:20] jswhit commented on #23
I went ahead and turned off parallel writes for the 2d file - this should provide another 25 second gain in the C768 test.

[2020-01-22 22:23] jswhit commented on #23
I'm wary of szip and lz4, unless we really need to wring out some more speed for compressed writes.  It will make it much harder to end users - they will have to rebuild  the  hdf5 and netcdf  libs to enable the extra filters.  zlib is available in the default builds.

[2020-01-23 03:09] junwang-noaa commented on #23
Jeff,

The surface file can actually have 3D fields such as radar reflectivity, or
physics 3D tendency fields, just in current setting we do not output the 3D
fields in sfc. I would suggest to use a logic variable to mark if an output
bundle has 3D fields, if it is not we can using sequential write. We can
set the logic variable at the initialization step.

I can test the code with non-parallel wr

[2020-01-23 04:02] jswhit2 commented on #23
Or we could make `output_file` an array (like `filename_base`) so we control whether parallel IO is used on a per-file basis, e.g:

[code]

[2020-01-23 11:17] edwardhartnett commented on #23
WRT what type of compression to use, there are now several options.

Zlib is built in to every netCDF-4 install, so is always present. However, it is slow for writing and reading.

Szlib has been supported for read access since the netcdf-c-4.0 release, but, in the next release, will also be supported for writing. Users must have built HDF5 with szlib or they will get an error when they try to rea

[2020-01-23 11:49] junwang-noaa commented on #23
Jeff,

That will also work and give us some flexibility for low resolution runs.

Jun

On Wed, Jan 22, 2020 at 11:02 PM Jeffrey Whitaker <notifications@github.com>
wrote:

[2020-01-23 15:16] jswhit2 commented on #23
Ed - thanks for the clarification. Sounds like it's easier than I thought to use non-zlib compression filters.

Jun - I went ahead implemented `output_file` as an array so we can specify it differently for 3d and 2d files.  It works for `netcdf` and `netcdf_parallel`, but it won't work if you try to mix `nemsio` and `netcdf_parallel`  since they both will try to use the same MPI communicator.  Any

[2020-01-23 16:29] junwang-noaa commented on #23
Can we check if  output_file(1) has "netcdf" substring, all the elements in
output_file need to have "netcdf", vice versa.

On Thu, Jan 23, 2020 at 10:16 AM Jeffrey Whitaker <notifications@github.com>
wrote:

[2020-01-23 22:35] jswhit commented on #23
pushed a change to  https://github.com/junwang-noaa/fv3atm/tree/netcdf_parallel to allow

[code]

A single value for output_file will still work.  If multiple values are given, they all must start with 'netcdf' (or else the model will abort with an error).

[2020-01-24 02:37] jswhit2 commented on #23
Using the default chunksize for 2D variables eliminates the slowdown - with this change using parallel IO for the 2D file is faster than serial IO.

[2020-01-24 02:39] junwang-noaa commented on #23
That's great news, thanks, Jeff!

On Thu, Jan 23, 2020 at 9:37 PM Jeffrey Whitaker <notifications@github.com>
wrote:

[2020-01-24 16:07] jswhit commented on #23
With these changes, here are the benchmarks on hera
C384, 4 output times, 432 compute tasks, 4 write groups, 12 write tasks per group (total 480 cores)

serial IO (with compression)
[code]

parallel IO (with compression)
[code]

serial IO (no compression)
[code]

parallel IO (no compression)
[code]

[2020-01-24 16:11] edwardhartnett commented on #23
All the parallel I/O write times are faster. Why is the wall time slower?

[2020-01-24 17:09] jswhit commented on #23
Sorry, I had those total wall times backwards.  Fixed now.

[2020-01-24 23:13] edwardhartnett commented on #23
I still don't understand why all the wall times are so similar. When I look at the numbers for the write times, I see parallel I/O is a lot faster, but the wall clock times are very similar.

For example:, serial with compression:

 total            Write Time is   64.28766 at Fcst   00:00

Parallel with compression:

 total            Write Time is   10.91470 at Fcst   00:00

So it has gone down

[2020-01-25 03:19] jswhit2 commented on #23
Ed- the wall time is for the entire model forecast, the other timings are just for the IO.  Plus, the IO is asynchronous and runs on separate MPI tasks, so the model doesn't need to wait for the IO to finish.

[2020-01-25 16:30] junwang-noaa commented on #42
@mcgibbon is this problem resolved?

[2020-01-25 16:30] junwang-noaa commented on #40
Yes, it is.

[2020-01-25 16:31] junwang-noaa commented on #38
Code is committed, close issue.

[2020-01-25 16:31] #38 closed, assigned to nobody

[2020-01-25 16:32] junwang-noaa commented on #37
The code is committed, close issue.

[2020-01-25 16:32] #37 closed, assigned to nobody

[2020-01-25 16:34] junwang-noaa commented on #36
The issue is resolved by computing pmid as averages of interfacing layer pressures instead of using the hydrostatic equation, the change is committed in pull request #48 GFSv16 netcdf post ficein cpl, close ticket.

[2020-01-25 16:34] #36 closed, assigned to nobody

[2020-01-25 16:34] junwang-noaa commented on #35
Code is committed, close ticket.

[2020-01-25 16:34] #35 closed, assigned to nobody

[2020-01-25 16:35] junwang-noaa commented on #24
Code is committed, close the issue.

[2020-01-25 16:35] #24 closed, assigned to nobody

[2020-01-25 16:35] junwang-noaa commented on #18
The code changes are committed, close issue.

[2020-01-25 16:35] #18 closed, assigned to nobody

[2020-01-25 16:36] junwang-noaa commented on #9
This code is committed in https://github.com/NCAR/ccpp-physics/pull/353, close issue.

[2020-01-25 16:36] #9 closed, assigned to nobody

[2020-01-25 16:37] junwang-noaa commented on #6
The corresponding code in ccpp was committed in https://github.com/NCAR/ccpp-physics/pull/353. close issue.

[2020-01-25 16:37] #6 closed, assigned to nobody

[2020-01-25 16:41] junwang-noaa opened #49 "inline post does not reproduce with threads"
It is found that the inline post results can not reproduce itself when running with threads. This is fixed by compiling post without option "-qopenmp" when generating post lib. Post group will have a project to make POST thread safe.

[2020-01-25 17:18] jswhit2 commented on #23
I added an option to build without parallel netcdf support using `-DNO_PARALLEL_NETCDF `using a stub (`module_write_netcdf_parallel_stub.F90`).

Should be ready for merge now.

[2020-01-25 20:51] AnningCheng-NOAA commented on #36
Thanks! Jun

On Sat, Jan 25, 2020 at 11:34 AM junwang-noaa <notifications@github.com>
wrote:

[2020-01-26 02:50] junwang-noaa commented on #23
Some results from wcoss dell with C768L127  compressed history files. Using parallel writing sfc file with default chunk size increases the

Using arallel writing for 3D fields and parallel writing with default chunksize for surface file:
parallel netcdf      Write Time is   32.28131 at Fcst   00:00
 parallel netcdf      Write Time is   98.26427 at Fcst   00:00
 total            Write Time is  184

[2020-01-26 03:53] junwang-noaa commented on #23
I also listed the total time spending on the write grid component(including time writing history files and inline post), it is actually decreasing when using parallel writing. The total run time is decided by the forecast time in this case (C768L127). So far I saw several issues:

1) writing one time level restart file by forecast tasks takes
 PASS: fcstRUN phase 2, na =          143  time is    2

[2020-01-26 17:58] jswhit2 commented on #23
I ran a C768 test on hera, and I still see a benefit to parallel IO for the 2D files.  Using 12 write tasks, with parallel IO for both 2d and 3d files I get

[code]

whereas turning off parallel IO for 2d files I see

[code]

and without parallel IO for either 2d or 3d files

[code]

[2020-01-26 18:36] jswhit2 commented on #23
Seems like the 2D writes are very sensitive to chunksize.  If I set the chunksize to be the same as the size of the array on each write task, I get

[code]

The optimal chunksize may be platform dependent.  I'll look at adding the chunksize as a runtime parameter in model_configure

[2020-01-26 20:41] jswhit2 commented on #23
Added ichunk2d, jchunk2d parameters in model_configure (can be used to tune chunksize for best parallel IO performance).  Default is size of array on each write task.

[2020-01-27 02:43] jswhit2 commented on #23
Also added ichunk3d,jchunk3d,kchunk3d to set 3d variable chunksize.  Default is ichunk3d=ichunk2d,  jchunk3d=jchunk2d, kchunk3d=nlevs.  This results in the fastest writes for me on hera:

[code]

To restore the previous behavior, set ichunk3d=imo,jchunk3d=jmo,kchunk3d=1.

Writes are slower for this setting, but reading 2d horizontal slices is much faster.

@junwang-noaa  - could you run your test

[2020-01-27 15:04] junwang-noaa commented on #23
Here are results using default chunksize (decomposition size on write
tasks).

parallel netcdf      Write Time is   43.48440 at Fcst   00:00
 parallel netcdf      Write Time is   42.56229 at Fcst   00:00
 total            Write Time is  141.08820 at Fcst   00:00
 parallel netcdf      Write Time is   45.74817 at Fcst   01:00
 parallel netcdf      Write Time is   29.93798 at Fcst   01:00
 total

[2020-01-27 15:22] jswhit2 commented on #23
did you mean (imo,jmo,nlevs,1) for the 3d chunk size?

[2020-01-27 15:55] junwang-noaa commented on #23
Sorry,I am using an old version, I think it is (im,jm,1,1). It looks to me
writing 3D fields with  default chunksize is slower on dell compared to
previous version.

@@ -176,7 +173,7 @@ module module_write_netcdf_parallel
             ncerr = nf90_def_var(ncid, trim(fldName), NF90_FLOAT, &
                     (/im_dimid,jm_dimid,pfull_dimid,time_dimid/),
varids(i), &
                     shuffle=

[2020-01-27 16:06] junwang-noaa opened #50 "test io layout for restart"
It is found that writing restart files is very slow in C768L127 runs. So far we are using   io_layout = 1,1 in namelist input.nml. Tests have been done to use different layout to reduce the write time. FV3  GFS restart test will be updated to use non-1 io_layout.

[2020-01-27 16:09] junwang-noaa commented on #50
Some test results show that using different io layout reduces the restart file writing time, therefore reduce the total model run time.

Control: Io layout:
&fv_core_nml
  layout = 16,12
  io_layout = 1,1
  npx = 769
  npy = 769
  ntiles = 6
  npz = 127

Results: /gpfs/dell1/ptmp/Jun.Wang/v16rt4_gdasfcst_06.run6
PASS: fcstRUN phase 1, na =          142  time is    5.97872209548950
 PASS: fcstRUN p

[2020-01-27 16:11] jswhit2 commented on #23
Hmm.  Wonder why I'm getting ~4x faster writes on hera with the new default chunksizes and 12 write tasks (total write time of 35 secs vs 140 secs on WCOSS).

[2020-01-27 16:29] junwang-noaa commented on #23
Jeff,

The 140s on dell includes 50s inline post time. So the total time is about
90s for writing netcdf files.

On Mon, Jan 27, 2020 at 11:11 AM Jeffrey Whitaker <notifications@github.com>
wrote:

[2020-01-27 17:33] junwang-noaa commented on #23
Here are results on dell using default chunk size for 2D file, and
(im,jm,1,1) for 3D files, basically writing netcdf files takes 60-70s. In
this run, I am using 2 write groups instead of 7 groups used in the initial
test from fv3_parallel (reducing 300 tasks).

parallel netcdf      Write Time is   32.15252 at Fcst   00:00
 parallel netcdf      Write Time is   45.53429 at Fcst   00:00
 total

[2020-01-27 18:39] jswhit commented on #23
To recap, netcdf chunksizes (for parallel and serial compressed IO) can be set at runtime by specifying parameters ichunk2d,jchunk2d,ichunk3d,jchunk3d,kchunk3d in model_configure.  The default values (if these parameters are not given) are the MPI decomposition size.  If the parameters are set to a negative value, then the netcdf C library will choose the chunksize.  If compression is turned off,

[2020-01-28 16:34] junwang-noaa commented on #50
Dusan tested the io_layout change and confirmed that the restart run from the restart file generated by io_layout produce identical results as cold start straight run.

Results from Dusan:
diff --git a/tests/tests/fv3_control b/tests/tests/fv3_control
index c66e74c..2fed89c 100644
+export I_IO_LAYOUT=1
+export J_IO_LAYOUT=1

to:
export_fv3
+export I_IO_LAYOUT=3
+export J_IO_LAYOUT=2

script change

[2020-01-28 18:18] jswhit commented on #23
To compile on hera, I made the following change to `modulefiles/hera.intel/fv3`:

[code]

This, and corresponding changes to the wcoss modulefiles, plus the addition of PARALLEL_NETCDF to the cmake files, need to be included in a companion pull request to https://github.com/ufs-community/ufs-weather-model.

[2020-01-28 18:44] #40 closed, assigned to nobody

[2020-01-28 18:51] mcgibbon commented on #42
It is not, thanks for the ping. I haven't had time to test the fixes. I'll give it higher priority so we can ideally close this issue.

[2020-01-28 21:14] edwardhartnett opened #51 "enabling szlib compression"
This issue is an offshoot of #23

@junwang-noaa here are instructions for trying szlib compression.

1 - Build HDF5 (1.10.6 for best performance) with szip. Use the --enable-szlib= option to configure. For example:
`./configure --with-szlib=/usr/local/szip-2.1.1`

At the end of the configure, information will be printed about the build. You should see:
 `         I/O filters (external): deflate(zl

[2020-01-28 21:17] mcgibbon commented on #42
The `nstf_name` change did not fix the issue for my installation. The fix someone else encountered of setting a compile flag didn't apply, since it was an intel-only compile option and I'm using the gfortran compiler. I've gone through and made sure each namelist matches with your example as much as possible (considering the input data I have available), still no reproducible run.

If you're curio

[2020-01-28 21:27] climbfuji commented on #42
@mcgibbon FYU, the ufs_public_release branches give b4b identical results for restart runs with GNU 8.3.0 on Cheyenne.

[2020-01-29 01:11] mcgibbon commented on #42
It's difficult to tell the cause of this difference, because I don't have any way to reproduce the configuration you have on Cheyenne.

[2020-01-29 03:26] climbfuji commented on #42
Where are you running on? Is there a shared platform that we may be able to use? Do you have access to Amazon Web Service? If everything else fails, I can - time permitting - fire up an instance there, run the restart tests and give you access to the instance to look at the code/rundirs (and download it). You could also upload your stuff and we could take a look. But this can't happen this week I

[2020-01-29 14:00] DusanJovic-NOAA commented on #23
The netcdf-c branch named "ejh_parallel_zlib" described in this comment:

https://github.com/NOAA-EMC/fv3atm/issues/23#issuecomment-572725886

does not exist anymore. Which version of netcdf-c should we use?

[2020-01-29 14:05] edwardhartnett commented on #23
Use the netcdf-c master branch. All my changes have been merged to master.

[2020-01-29 14:09] DusanJovic-NOAA commented on #23
https://github.com/NOAA-GSD/netcdf-c
or
https://github.com/Unidata/netcdf-c

I see NOAA-GSD:master is 6 commits behind Unidata:master

[2020-01-29 14:13] edwardhartnett commented on #23
Use the Unidata master. THe NOAA-GSD one is my fork that I use for working on the Unidata one.

[2020-01-29 17:10] jswhit commented on #51
Thanks Ed.  Once  #23 is merged, I can create a new fork to test this.

[2020-01-29 18:46] junwang-noaa commented on #51
Thanks, Ed and Jeff. We are working on committing #23, will work on the
szlib after the commit. Jeff, if you create new fork, please let us know we
can test the code on wcoss.

On Wed, Jan 29, 2020 at 12:10 PM Jeff Whitaker <notifications@github.com>
wrote:

[2020-01-29 18:49] jswhit commented on #51
is this now in netcdf-c master, or do we need your fork?

[2020-01-29 19:08] mcgibbon commented on #42
If you have a Docker file or image somewhere that includes the necessary run data I could use that. I've just been running locally for development, though we also do jobs on Google cloud. I got the ufs-weather-model to build in docker and could upload that to github if you'd like, it would just take some time to make proper forks because I had to make some small changes to the submodule repos to g

[2020-01-29 19:08] edwardhartnett commented on #51
@jswhit everything has been merged to netcdf-c master. No need for any of my branches any longer.

[2020-01-29 19:27] junwang-noaa commented on #51
Great! I am building the netcdf parallel lib under emc.nemspara on hera
using the  netcdf-c master now.

On Wed, Jan 29, 2020 at 2:08 PM Edward Hartnett <notifications@github.com>
wrote:

[2020-01-29 20:38] jswhit commented on #51
Ed  - I went ahead and tried this, and it works!  However, with the default parameter settings the file sizes are very large compared to zlib

[code]

[2020-01-29 20:43] edwardhartnett commented on #51
But was it faster?

[2020-01-29 20:45] jswhit commented on #51
A little bit (30 secs vs 35 secs).

[2020-01-29 20:51] edwardhartnett commented on #51
OK, good! So it seems to be working and giving faster times, and that's what it's supposed to do. Yes, it does not compress as much. But it's also faster to read. So its a tradeoff.

However, we can also try some other szip settings. Try using:

     integer, parameter :: H5_SZIP_NC_OPTION_MASK = 4

Use this as the szip options mask and see if it is faster or compresses more.

Also try setting H5_

[2020-01-29 21:34] jswhit commented on #51
Ed - I think the szip filter may not be enabled after all.  I don't see the  `datasetF32:_Filter` attribute in the ncdump output, even though I am calling nf90_def_var_filter via

[code]

[2020-01-29 22:12] jswhit commented on #51
OK - I wasn't checking the return code.  nf90_def_var_filter is actually failing with

[code]

I'm using netcdf-fortran 4.5.2 - do I need to update from master?

[2020-01-29 22:14] edwardhartnett commented on #51
Stand by and I will add nf90_def_var_szip to a fortran branch, and you can try that. Probably won't be ready until tomorrow...

[2020-01-29 22:24] jswhit commented on #51
Why doesn't nf90_def_var_filter work as in your example above?

[2020-01-29 22:44] edwardhartnett commented on #51
I don't know. ;-) But I have to add nf90_def_var_szip to fortran, and I will add a test, and then I will know that it works. ;-)

[2020-01-30 03:38] junwang-noaa commented on #23
Ed,

just to confirm, I am building netcdf-c from unidata on hera, the revision is 2a34eb2a.

.../nems/emc.nemspara/soft/netcdf_parallel/netcdf-c> git clone https://github.com/Unidata/netcdf-c
.../nems/emc.nemspara/soft/netcdf_parallel/netcdf-c> git branch
* master
[ =0 03:35:41 10034 emc.nemspara@hfe05 ]
.../nems/emc.nemspara/soft/netcdf_parallel/netcdf-c> git log |more

commit 2a34eb2ac5996dc233

[2020-01-31 01:49] junwang-noaa commented on #23
I have problem to build the hdf5/1.10.6 on cray, I have

module load PrgEnv-intel
module rm intel
module rm NetCDF-intel-sandybridge
module load intel/16.3.210

export FC=ftn
export CC=cc
export CXX=CC
export LD=ftn
export LDFLAGS=-L${parlibpath}/lib
export CPPFLAGS=-I${parlibpath}/include
export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/gpfs/hps3/emc/nems/noscrub/emc.nemspara/soft/netcdf_parallel/lib

[2020-01-31 02:10] edwardhartnett commented on #23
@junwang-noaa you do have the correct netcdf.

However, I don't know what the HDF5 build problem is. Have you asked HDF5 support?

[2020-01-31 17:25] jswhit commented on #23
@junwang-noaa - have a look at config.log file in the build directory after configure fails to find more information as to the cause of failure. Search for "cannot" and examine the lines preceding it.

[2020-01-31 19:56] edwardhartnett commented on #23
@jswhit BTW I'm still working on szip and netcdf-fortran. There are some complexities but I hope to have a working branch for you soon...

[2020-02-02 03:31] junwang-noaa commented on #23
A detailed configuration testing on wcoss dell is at:

https://docs.google.com/document/d/18vqajgOv3flbS35eNPMnYpFyNiprkJpHkVZpP--dx5o/edit

[2020-02-02 03:35] junwang-noaa commented on #23
@jswhit2 The error message I  listed above is from the config.log. Not sure why  the executable compiled from c program can't run on cray.

[2020-02-03 01:56] junwang-noaa commented on #23
@edwardhartnett Can you create a tag from the master?

[2020-02-03 11:25] edwardhartnett commented on #23
@jswhit2 there is now a branch ejh_szip on netcdf-fortran which has the szip code in the fortran APIs.

@junwang-noaa I cannot create a tag. I am not part of Unidata any longer. ;-) However, I believe they will be doing a release in the next few weeks. (No guarantee though.)

[2020-02-04 20:10] junwang-noaa commented on #23
Code is committed. I will open a new issue for installing the hdf/netcdf lib on cray.

[2020-02-04 20:10] #23 closed, assigned to nobody

[2020-02-04 20:10] junwang-noaa commented on #49
Code is committed.

[2020-02-04 20:10] #49 closed, assigned to nobody

[2020-02-04 20:48] junwang-noaa opened #54 "update coupled field name in fv3"
The coupled field names in fv3 is different from that used in CICE5. In this ticket, the names will be changed so that both components will use same field names, and nems code can be clean up for name matching.

[2020-02-06 19:02] junwang-noaa commented on #54
Denise has the code changes in her branch:

https://github.com/DeniseWorthen/fv3atm/tree/feature/changefldnames

Her corresponding NEMS branch is:

https://github.com/DeniseWorthen/NEMS/tree/feature/changefldnames

[2020-02-06 21:11] jswhit2 opened #59 "IAU changes dry mass"
to fix this, implement fixer from GMAO (https://onlinelibrary.wiley.com/doi/full/10.1111/j.1600-0870.2007.00299.x).

https://github.com/NOAA-EMC/GFDL_atmos_cubed_sphere/pull/14
https://github.com/NOAA-EMC/fv3atm/pull/58

code from GEOS5 provided by @aerorahul

[2020-02-07 14:01] jswhit commented on #59
This is ready to go now.  To test, set iau_drymassfixer=T in &gfs_physics_nml.

Grepping 'mean dry' in the model stdout shows that with iau_drymassfixer=F (the default)

[code]

and with iau_drymassfixer=T (64 bit executable)

[code]

[edited to replace results with 64 bit executable with results  using a 32 bit executable]

[2020-02-07 19:46] jswhit2 commented on #59
https://github.com/jswhit2/ufs-weather-model (branch `iau_drymassfixer`) has .gitmodules updated to point to the necessary GFDL_atmos_cubed_sphere and fv3atm forks and branches.

[2020-02-11 19:06] edwardhartnett commented on #23
@jswhit2 the szip changes have been merged into master branch on Unidata's netcdf-fortran project. So just grab that, and build it against the netcdf-c master you have already built.

Then you can call nf90_def_var_szip() on a variable. Make sure you also turn off deflate. You can't use both deflate and szip.

[2020-02-13 17:33] ShanSunNOAA opened #64 "redefining ice fraction in FV3 as ratio of ice area to ocean area"
To commit 3 code changes needed when redefining ice fraction in FV3 as ratio of ice area to ocean area:

atmos_model.F90
io/FV3GFS_io.F90
gfsphysics/GFS_layer/GFS_physics_driver.F90

It has passed control regression test.

[2020-02-19 15:50] jswhit2 commented on #59
Fixed by PR #61, https://github.com/ufs-community/ufs-weather-model/pull/56 and https://github.com/NOAA-EMC/GFDL_atmos_cubed_sphere/pull/14

[2020-02-19 15:50] #59 closed, assigned to nobody

[2020-02-20 16:08] junwang-noaa opened #70 "new canopy heat storage parameterization (CHSP) scheme"
A new canopy heat storage parameterization (CHSP) scheme is ready with bug fixes from previous version.

[2020-02-21 19:21] lisa-bengtsson opened #71 "Update cellular automata code and coupling"
The cellular automata (CA) code is updated so that several CA's can run on the FV3 grid and the sub-grid simultaneously. The coupling to the SASAS convection scheme is updated to address uncertainty associated with entrainment when convection becomes more organized. The capability of running SPPT with a pattern generated from cellular automata (instead of AR(1)) is added.

The updates concern the

[2020-02-25 20:48] JongilHan66 commented on #70
The new CHSP has been developed and it is a bug free and has no the residual issue:
1) Unlike the old CHSP, CHS is now achieved somewhat explicitly by reducing input surface sensible and latent heat fluxes to the PBL scheme as a function of surface roughness (z0).
2) there are no changes in Noah LSM and Noah MP associated with the new CHSP, except that the current urban heat storage parameteriztio

[2020-02-26 15:33] JongilHan66 commented on #70
Fraction factor parameters for CHSP (z0fac & e0fac) are now defined in
    GFS_typedefs.F90, which is also placed in /scratch1/NCEPDEV/global/Jongil.Han/save/git/fv3gfs/gfsv16b/sorc/fv3gfs.fd/FV3/gfsphysics/tmp

Accordingly, GFS_physics_driver.F90 is modified.

[2020-02-28 03:11] junwang-noaa opened #72 "possible memory leak in fv3"
In the coupled s2s model, it is found that the fv3 memory is increasing every 6hour for the first 2 days, then the memory increases slightly for the rest of forecast time. This may indicate a memory leak problem in fv3 component, further investigation is needed.

[2020-02-28 03:15] junwang-noaa commented on #54
Code is committed, close issue.

[2020-02-28 03:15] #54 closed, assigned to nobody

[2020-02-28 18:44] junwang-noaa opened #73 "merge code changes in public release back to develop branch"
When public release branch is finalized, the hot fixes in public release branch needs to be merged to develop branch.

The code changes include:

fv3atm github pull request:
1. Add no_nsst CCPP suites (htps://github.com/NOAA-EMC/fv3atm/pull/69)
2. release/public-v1: bug fix for threading issue in stochastic physics (htps://github.com/NOAA-EMC/fv3atm/pull/62)
3. ufs_public_release: remove libxml2.

[2020-02-28 19:26] junwang-noaa opened #74 "add land_surface_model attribute in model sfc history file"
Since model now can run with several different land surface model, POST needs some information in model output file to specify which land surface model is used. A land_surface_model attribute will be added to model sfc history files.

[2020-03-06 19:43] DeniseWorthen opened #76 "timestamping of field dumps from caps"
See UFS-S2S issue #[44](https://github.com/ufs-community/ufs-s2s-model/issues/44) for details

[2020-03-10 19:28] junwang-noaa opened #78 "reducing the sending time for forecast tasks to write tasks"
George/Jim found that the sending time from forecast tasks to write tasks can reach to 4.5 s for each data transfer in the high resolution global and regional run. Gerhard was working on the ESMF snapshot 8.0.1 to fix the problem, the improvement includes:

1) write all messages from sending PEs going to the same dst PET into a single buffer and then send the whole message using single MPI_Isend
2

[2020-03-12 16:39] oliverwm1 opened #79 "Model uses constant SST, different from SST forcing file"
The output surface temperature (`tsfc`) over ocean is constant in time, despite using `  RTGSST.1982.2012.monthly.clim.grb` which depends on month. Is this expected behavior? When doing the same run with the [previous public release source code](https://github.com/NOAA-EMC/fv3gfs), the surface temperature over the ocean tracks much closer to the SST forcing file, as I would expect.

The figure bel

[2020-03-20 12:20] junwang-noaa opened #82 "tprcp unit in GFS_diagnostics.F90"
Eric Aligo noticed tprcp has unit kg/m^2 In GFS_diagnostics.F90. But from the computation in GFS_physics_driver.F90, the unit of rain should be m/phys_timestep.

  tem = dtp * con_p001 / con_day
  rain1(i)        = (rain0(i,1)+snow0(i,1)+ice0(i,1)+graupel0(i,1)) * tem

 Diag%rain(:) = Diag%rainc(:) + frain * rain1(:)  ! total rain per timestep

do i=1,im
      Sfcprop%tprcp(i)  = max(zero, Diag%ra

[2020-03-20 17:29] junwang-noaa opened #83 "update post lib to 8.0.6"
Post lib 8.0.6 i s now available on dell, cray and hera. The library contains two updates:
1) Upgrade crtm to 2.3.0
2) Use g2tmpl 1.6.0 from operational library side

Model needs to update to the latest post lib.  It is expected that there is no impact on the current ufs-weather-model results.

[2020-03-21 14:27] junwang-noaa commented on #79
It depends on how the model is configured. Can you check what the "FHCYC" in your model namelist is set with?

[2020-03-23 16:08] pjpegion opened #84 "negative precipitation with stochastic physics when coupled"
Currently, there may be negative rain or snow being passed to the ocean and ice when SPPT is enabled. This is because of the inconsistency between the partitioning of the rain/snow and the rain/snow tendency.

The fix requires modifications to ccpp_physics: FV3/ccpp/physics/physics/GFS_MP_generic.F90  There will also be a separate pull request for the IPD side. This is related to
https://github.co

[2020-03-23 23:18] oliverwm1 commented on #79
Thanks for the response! `fhcyc` is set to 24.0. You can find the complete namelist I used for the simulation above [here](https://gist.github.com/oliverwm1/5b27b5f708f8cae24e3f5776e5289332).

[2020-03-27 12:57] DeniseWorthen opened #89 "field name changes for cmeps integration"
Two field names for the coupled model need to be changed for final cmeps integration. The field names are:

mean_zonal_moment_flx => mean_zonal_moment_flx_atm
mean_merid_moment_flx => mean_merid_moment_flx_atm

This change needs to be implemented with a corresponding change in NEMS issue [#48](https://github.com/NOAA-EMC/NEMS/issues/48)

These changes will break baselines for the coupled model onl

[2020-03-30 15:58] climbfuji commented on #84
@pjpegion I believe this issue has been solved. Please check and if so, close it. Thanks!

[2020-03-30 19:54] #84 closed, assigned to nobody

[2020-03-31 14:46] jswhit opened #91 "add capability to write out global regular (non-gaussian) lat/lon grid history files"
The 'gaussian_grid' option is used for backwards compatibility with the spectral GFS, for downstream applications (like GSI) that expect gaussian latitudes.  Most applications would prefer a regular evenly-spaced latitude grid.  Therefore, it makes sense to add a 'global_latlon' option for 'output_grid' in model_configure.

[2020-03-31 14:52] jswhit2 commented on #91
@aerorahul

[2020-03-31 19:50] jswhit2 commented on #91
@junwang-noaa pointed out that the 'latlon_grid' option was intended to provide this functionality, but was never fully implemented.  Right now it does not produce any output.  I've gone ahead and removed the non-functional 'latlon_grid' code from module_wrt_grid_comp.F90.

[2020-03-31 19:52] jswhit2 commented on #91
@yangfanglin  asked how to define the resolution of the output grid.  The parameters `imo` and `jmo` can be used for this.  For example, `imo=2880 jmo=1440` will produce a 0.125 degree grid (not including the poles and equator).  `jmo=1441` will give you a 0.125 degree grid including the poles and equator.

[2020-03-31 19:54] jswhit2 commented on #91
Currently, `netcdf` and `netcdf_parallel` output is supported in PR #92.  The structure of the resulting netcdf files are identical to the gaussian grid files (except that the latitude values are different).

[2020-04-02 14:21] edwardhartnett opened #94 "Can this repo be built stand-alone?"
Can this repo be built stand-alone?

That will be required for CI to be set up with Travis.

CMake has the capability to build this as part of ufs_weather_model, and also in stand-alone mode.

[2020-04-16 18:20] junwang-noaa opened #100 "add butterfly effect in fv3"
There is a request to conduct butterfly effect test for ufs-weather-model and ufs-s2s-model. It will be used as a reference to verify model results change due to small perturbations caused by porting (platform change, compiler version change, ...), code structure changes(no scientific change) , etc.

Currently FV3 already has an option "add_noise" to add random noise (-1,1) *scale to full 3D tempe

[2020-04-16 18:26] yangfanglin commented on #100
I suspect the magnitude of the response to a “butterfly” perturbation will
depend on the flow regime surrounding the point, or the error growth rate.

Fanglin

On Thu, Apr 16, 2020 at 2:20 PM Jun Wang <notifications@github.com> wrote:

--
Fanglin Yang, Ph.D.
Physical Scientist
Environmental Modeling Center
National Centers for Environmental Prediction
301-6833722; fanglin.yang@noaa.gov
http://www.

[2020-04-16 18:35] junwang-noaa commented on #100
It is flow dependent, but the 3K~5K maximal difference in tmp is what we've
seen in previous butterfly tests in GSM and comparison tests (intel
compiler change, etc). The case Dusan tested is 20161003. Also with this
capability, we can conduct tests with the same configuration (same IC, same
model configuration). E.g., for porting, we first run a butterfly
test(with/without butterfly effect) then

[2020-04-16 18:43] yangfanglin commented on #100
Jun, That is a good point since all tests are made with the same IC.

On Thu, Apr 16, 2020 at 2:36 PM Jun Wang <notifications@github.com> wrote:

--
Fanglin Yang, Ph.D.
Physical Scientist
Environmental Modeling Center
National Centers for Environmental Prediction
301-6833722; fanglin.yang@noaa.gov
http://www.emc.ncep.noaa.gov/gmb/wx24fy/fyang/
http://www.emc.ncep.noaa.gov/gmb/STATS_vsdb/

[2020-04-16 19:53] climbfuji commented on #100
Great development work. My question about this approach is wrt the discussion we had in the last s2s meeting. We saw that changes were showing up in certain parts of the globe (i.e. over the oceans in the summer hemisphere). Will this butterfly test be a fair comparison for something apparently associated with geography/landuse? Can this be extended towards "flipping a few bits over ocean points o

[2020-04-17 00:01] junwang-noaa commented on #100
Dom,

We haven't run long forecast yet using butterfly test. It would be
interesting to see if in the 10day or 35 day run the large sst changes in
summer hemisphere also shows up. I agree with Fanglin, the effect might be
flow dependent, regions with large error growth rate or large variation may
have larger changes compared to regions with little variation. All those
tests should be using the sam

[2020-04-17 01:55] climbfuji commented on #100
It will be interesting to see, definitely. Let's use this new functionality and see what we learn from it.

[2020-04-24 13:25] DeniseWorthen opened #105 "change to tsfcl required when cplflx=true for restart comparison tests"
When cplflx is true, the values of tsfcl in the FV3 restart files fail the regression test comparisons because of values for tsfcl over ocean and ice. The tsfcl values over land are identical (when using CMEPS as the mediator).  For IPD, these changes are proposed at [LN 2069](https://github.com/DeniseWorthen/fv3atm/blob/2cdeafd30a3839bc6d256dc4a0031bf6131df982/gfsphysics/GFS_layer/GFS_physics_dri

[2020-04-24 13:31] climbfuji commented on #105
The IPD regression tests will be dropped in the next few weeks and the IPD development will be frozen very soon except for urgent bug fixes related to the GFSv16 implementation.

The corresponding CCPP code is in https://github.com/NCAR/ccpp-physics/blob/master/physics/GFS_surface_composites.F90 - please let me know if you need further information for making the changes there.

[2020-04-24 13:47] DeniseWorthen commented on #105
Thanks Dom. The IPD change is in the FV3 branch I will be using for my PR for the CMEPS name changes which is why I created the issue to reference.

For CCPP, is the equivalent change [here](https://github.com/NCAR/ccpp-physics/blob/20d7e9d687f0ec44d76a6c2b754a44a2fbbad0d9/physics/GFS_surface_composites.F90#L443) by inserting if(Model%cplflx)tsfcl = tsfc_ocn(i) and similarly for the ice covered ar

[2020-04-24 13:50] climbfuji commented on #105
Yes, this looks about right to me.

[2020-04-24 17:56] DeniseWorthen commented on #105
I've been able to test this fix now on Cheyenne and it does pass our restart reproducibility test for tsfcl in the fv3 surface restart files.

[2020-04-29 17:10] SMoorthi-emc opened #109 "snow depth over sea-ice"
This issue addresses a bug in the snow depth treatment within GFS when GFS is coupled to sea-ice model.  Sea-ice model exports snow volume, but radiation in GFS expects snow depth in mm.
Also, currently weasd (water equivalent snow depth) is set to zero over sea-ice.
While weasd is simply a diagnostic, the snow albedo over sea ice could have significant role in polar climate.  The update will be i

[2020-04-30 18:20] DeniseWorthen commented on #109
Your understanding is how I also understand it. The snow thickness in the ice-covered part of the grid cell is given by snow_volume/ice_fraction.

Will you also be working on bringing CICE's exported albedos into the radiation scheme?

[2020-04-30 18:33] SMoorthi-emc commented on #109
Great, I feel more comfortable with what I did.
Right now radiation uses this information in modifying albedo.
We could use albedo from CICE, but it is a bit complicated, particularly with ccpp.
I still haven't figured out why I can't reproduce with restart.

[2020-04-30 19:34] climbfuji commented on #109
Hi Moorthi, this is how I do this: add a call to scheme GFS_diagtoscreen and GFS_interstitialtoscreen in the radiation group (after GFS_interstitial_rad_reset) and in the physics group (after GFS_suite_stateout_reset).

Choose a small test case (C96?) that you can run with very few MPI tasks (6 for the compute of the atmosphere, i.e. one per tile). Set layout=1,1 in input.nml and blocksize=2304 (f

[2020-04-30 19:44] SMoorthi-emc commented on #109
Dom,
   I assume your suggestion is about the restart issue that I am having.  The way I am doing it is slightly different.
I am looking at results from every time step.  After I restart, the first two time steps are identical, but the thiird time step is not.   Differences are in a few fields, only a few bits different.  Fields from ice to atm are identical.  Differences are in sensible heat flux

[2020-04-30 19:57] climbfuji commented on #109
I see. At least, the GFS_diagtoscreen gives you min / max / 32-bit Adler Checksum of each array, I assume that there are tiny differences in the first two timesteps already, but you only see them when you compute the checksum. Just a guess, though.

[2020-05-01 12:43] #76 closed, assigned to nobody

[2020-05-01 14:35] DeniseWorthen commented on #109
Moorthi,

If you point me to your FV3 branch and what options I might need to change in the input.nml, I could try out your FV3 in our repro test on Cheyenne using CMEPS. If it passed, then that to me would indicate a NEMS mediator issue; if it didn't that would indicate an FV3 issue.

[2020-05-01 14:42] SMoorthi-emc commented on #109
Denise, thanks.
I just found some issue with my FV3 branch.  Let me see if that works.
If not I will merge with latest FV3 develop and then let you know my branch.

[2020-05-06 18:23] binli2337 opened #111 "Port to phase 2"
Porting FV3 to phase2 requires updated ccpp submodules.

[2020-05-07 20:21] junwang-noaa commented on #70
Committed. Close issue.

[2020-05-07 20:21] #70 closed, assigned to nobody

[2020-05-08 14:06] #105 closed, assigned to nobody

[2020-05-08 14:08] #89 closed, assigned to nobody

[2020-05-11 18:12] SMoorthi-emc commented on #109
While the following is not relevant to this issue, I am glad to announce that my restart run now reproduces the continuous run, even with nsst model turned on with NEMS Mediator.

[2020-05-11 18:46] DeniseWorthen commented on #109
BRAVO!

[2020-05-12 14:20] junwang-noaa opened #116 "add FMS option -DENABLE_QUAD_PRECISION in FV3"
In FMS tag 2019.01, the default option on QUAD-PRECISION is no quad precision. In FMS tag 2019.01.01 and later version, the default is to use double precision.  When we update FMS to the latest version 2020.02, the -DENABLE_QUAD_PRECISION compile option will be used so that the calculations with FV3 related to grid metric terms will still use quad precision.

[2020-05-21 13:32] DeniseWorthen opened #122 "add air density and potential temperature to export state"
When cplflx = true, the air density and potential temperature should be added to the FV3 export state. They should be "height_lowest" values.

These variables are needed by CICE5/CICE6; currently they are being calculated either in the NEMS mediator or in the CICE cap using temp_height_lowest, pres_height_lowest and spec_humid_height_lowest.

[2020-06-04 18:09] junwang-noaa commented on #111
The issue is resolved, the s2s tag: s2s_prototype4.0_wcoss2 was created. Close ticket.

[2020-06-04 18:09] #111 closed, assigned to nobody

[2020-06-04 18:12] junwang-noaa commented on #91
The code changes were merged to develop branch in PR #104. close ticket.

[2020-06-04 18:12] #91 closed, assigned to nobody

[2020-06-04 18:13] junwang-noaa commented on #83
The code changes were merged in PR #104, close ticket.

[2020-06-04 18:13] #83 closed, assigned to nobody

[2020-06-04 18:15] junwang-noaa commented on #74
The issue is resloved in PR #104. close issue.

[2020-06-04 18:15] #74 closed, assigned to nobody

[2020-06-10 15:19] junwang-noaa opened #127 "Merge physics updates in GFS.v16.0.4 to develop branch"
Some physics updates were added to GFSv16 production branch, the code changes will be merged to ufs -weather-model develop branch.

[2020-06-12 18:31] benjamin-cash opened #129 "_FillValue type and attribute mismatches in phyf*nc and dynf*nc files"
_FillValue in phyf\*nc and dynf\*nc does not appear to be defined as the same type as the variable. This is causing "NetCDF: Not a valid data type or _FillValue type mismatch" errors when I try to combine the files using fregrid, and appears to be the same kind of issue described here:
https://github.com/beatrixparis/connectivity-modeling-system/issues/38

The variable definitions are consistent i

[2020-07-01 17:18] junwang-noaa opened #136 "check fdiag consistency with fhmax/FHOUT/FHOUT_HF"
In current fv3, the fdiag is defined in namelist while FHMAX, FHOUT/FHOUT_HF are defined in the model configuration. there could be difference in fdiag and fhout/fhout_hf which can problems such as model output does not change. This ticket is to fix the issue to make sure the fdiag and fhout/fhou_hf to be consistent.

[2020-07-02 02:00] climbfuji opened #137 "Recommended changes / cleanup work for PR https://github.com/NOAA-EMC/fv3atm/pull/134"
The code review of https://github.com/NOAA-EMC/fv3atm/pull/134 highlighted some changes to be made in the next commits and some areas of investigation.

gfsphysics/GFS_layer/GFS_typedefs.meta, line 4077: addition of variable `cycling` - is this really required or does the model have the capability that @joeolson42 was seeking for the MYNN PBL/SFC physics?

gfsphysics/GFS_layer/GFS_typedefs.F90, li

[2020-07-07 14:01] climbfuji opened #138 "Cleanup work for PR #108"
When #108 was merged, the order of the interstitial schemes in `ccpp/suites/suite_FV3_GFS_2017_fv3wam.xml` didn't match the other suite definition files:

In the previous GSL physics update, we changed the order of the schemes so that `GFS_DCNV_generic_pre` comes after `GFS_suite_interstitial_3`. This doesn't change the answer and should be fixed with the next commit.

[2020-07-09 16:31] climbfuji commented on #137
@junwang-noaa instead of "gfs_phys", what would be the correct mod_name to use for outputting the non-physics tendencies? Does "gfs_dyn" exist?

[2020-07-09 16:49] climbfuji commented on #137
@joeolson42 I am trying to address the comment about the newly added "cycling" variable for MYNN PBL. I see in `FV3/ccpp/physics/physics/module_bl_mynn.F90` that the `restart` and `cycling` flags have nearly (but not entirely) the same effect:
[code]
In `GFS_typedefs.{F90,meta}` I see that `cycling` is set to `.false.` by default and never changed to `.true.`, not even for the `fv3_ccpp_gsd_warmst

[2020-07-09 17:13] junwang-noaa commented on #137
That makes sense to me.

On Thu, Jul 9, 2020 at 12:49 PM Dom Heinzeller <notifications@github.com>
wrote:

[2020-07-10 20:43] ShanSunNOAA opened #142 "Initializing non-zero ice fluxes in the cold coupled run with CMEP"
Currently dusfci_cpl, dvsfci_cpl, dtsfci_cpl and dqsfci_cpl are initialized by values from PBL in the cold run at the 1st time step, which happens to be flag_cice=F for NEMS. However, "flag_cice" is not the right flag for "1st time cold run" in the case of CMEPS. We replaced the flag_cice condition by dusfcin_cpl, i.e., when ice flux is huge (undefined), use PBL-calculated ice fluxes instead. This

[2020-07-15 19:53] #138 closed, assigned to nobody

[2020-07-15 19:57] climbfuji commented on #137
Everything except moving the non-physics tendencies out of the `gfs_phys` stream was addressed in https://github.com/NOAA-EMC/fv3atm/pull/140.

[2020-08-01 13:30] edwardhartnett commented on #94
@junwang-noaa as mentioned in this old issue, and discussed at the meeting yesterday, it will be necessary to build this repo in stand-alone mode to enable testing.

It's OK if this requires FMS or other libraries like netCDF, but it should not require UFS in order to test fv3atm.

[2020-08-03 00:19] junwang-noaa opened #152 "add PR and issues (bug fix and new features) templates"
Adds standard templates for reporting bugfix and requesting new features.
Adds a pull request template.

[2020-08-17 20:41] grantfirl opened #159 "Diagnostic tendencies ("nophys" variables) are not written out properly"
## Description
When the ldiag3d and qdiag3d variables are set to T, diagnostic physics tendencies are calculated as well as tendencies saving all non-physics changes to the state variables (with "_nophys" attached to the CCPP standard names). One regression test, named fv3_ccpp_gsd_diag3d_debug, exercises this option. However, the nophys variables are not being written out correctly. There is a mi

[2020-08-17 20:43] grantfirl commented on #159
See https://github.com/grantfirl/fv3atm/tree/fix_nophys_tendencies_output for the fix with the modified diag_table_gsd_ruc_diag3d staged in the appropriate place by someone with permissions in the /scratch1/NCEPDEV directory.

[2020-08-20 02:23] junwang-noaa commented on #100
The code is committed, close issue.

[2020-08-20 02:23] #100 closed, assigned to nobody

[2020-08-20 02:25] junwang-noaa commented on #109
This was committed in FV3 PR #155, close issue.

[2020-08-20 02:25] #109 closed, assigned to nobody

[2020-08-20 02:26] junwang-noaa commented on #152
The issue is committed, close issue.

[2020-08-20 02:26] #152 closed, assigned to nobody

[2020-08-20 02:28] junwang-noaa commented on #127
The code is committed in PR #128 , close issue.

[2020-08-20 02:28] #127 closed, assigned to nobody

[2020-09-02 20:23] climbfuji commented on #137
The remaining issue `gfs_phys` vs . `gfs_dyn` is also covered here, with more information: https://github.com/NOAA-EMC/fv3atm/issues/159. Everything else was addressed, closing.

[2020-09-02 20:23] #137 closed, assigned to nobody

[2020-09-03 22:03] grantfirl commented on #159
@climbfuji Could the changes in the branch listed above be combined into another PR (since it only changes 5 lines in GFS_diagnostics.F90: https://github.com/NOAA-EMC/fv3atm/compare/develop...grantfirl:fix_nophys_tendencies_output) plus a change in a RT diag_table file? Or should this be a standalone PR?

[2020-09-03 22:07] climbfuji commented on #159
I think we can use your PR #162 and make the changes there. At the same time, update the diag tables as per @jkhender's suggestion for the non-ldiag3d/qdiag3d RAP/HRRR physics runs.

[2020-09-03 22:15] grantfirl commented on #159
OK, this fix has been added to PR #162 : https://github.com/NOAA-EMC/fv3atm/pull/162/commits/b1ca55178ab125286ad41286e29da7049ef34e90

I don't have access to the other diag tables changes from @jkhender, but I'd be happy if the diag_table in the .zip file uploaded above is used in the RTs going forward at some point.

[2020-09-22 01:37] junwang-noaa opened #174 "add parallel netcdf capability to regional fv3"
## Description
Regional fv3 needs the parallel writing compressed netcdf data capability.

## Solution
Add the parallel writing compressed netcdf data capability for regional fv3 grid.

## Testing:

It will be tested for LAM and HAFS high resolution runs.
RT will be conducted on supported platforms, the current baseline results will not change.

## Dependent PRs:

PRs will be submitted in FV3, NEM

[2020-10-01 13:37] climbfuji commented on #159
This has been fixed in https://github.com/NOAA-EMC/fv3atm/pull/178, please close the issue.

[2020-10-01 15:17] #159 closed, assigned to nobody

[2020-10-02 17:26] DusanJovic-NOAA commented on #71
@lisa-bengtsson Is this issue resolved by one of the already merged PR's?

[2020-10-02 17:34] lisa-bengtsson commented on #71
Yes, this was the big commit we worked on back in spring.

[2020-10-02 17:36] #71 closed, assigned to nobody

[2020-10-06 13:43] edwardhartnett commented on #51
OK, all this has been added to netcdf-c, do I will close this issue.

Unfortunately, szip with parallel writes is not working. ;-( I have raised an issue with the HDF5 team but it's unlikely this will get much attention in the short term.

The good news is that Charlie Zender and I are soon coming out with a new release of the CCR package, which will add more compression options to netCDF. ;-)

Th

[2020-10-06 13:43] #51 closed, assigned to nobody

[2020-10-06 13:45] edwardhartnett commented on #94
I would like to work on this, but I am elbow-deep in NCEPLIBS and will be for some time.

@junwang-noaa I highly recommend that this issue be resolved so that fv3atm can be built and tested in stand-alone mode. Then I would encourage all programmers to take a few tests sprints, in which everyone put aside new work for a bit, and wrote unit tests for existing code.

[2020-10-09 15:33] aerorahul commented on #94
@edwardhartnett

This repo can be built as a standalone library -- yes.  We already do that.  But what will you do with just a library?
The fv3dycore (part of this repo) is linked as a library, as are other components ccpp, gfsphysics, etc.
The fv3dycore can be built as a standalone executable e.g. `fv3dycore.x` using [atmos_model.F90](https://github.com/NOAA-GFDL/atmos_drivers/blob/master/solo/at

[2020-10-09 16:04] edwardhartnett commented on #94
@aerorahul yes, you have summarized a great plan for getting unit testing into this code.

Last time I tried to add a unit test, the repo would not build for me, which is why I added this issue. From your post I understand that this has changed? Good! If we can get one test running we can close this issue. Then, next time I want to write a test for some of the fv3atm I/O code, it will be possible.

[2020-10-09 16:13] aerorahul commented on #94
@edwardhartnett Don't look at me.

[2020-10-09 16:23] edwardhartnett commented on #94
![image](https://user-images.githubusercontent.com/38856240/95611474-1ce58580-0a1f-11eb-824f-16c636c783a5.png)

[2020-10-13 20:39] climbfuji opened #187 "Pretty print compile output when calling ccpp_prebuild.py"
## Description

A recent change moved the call to ccpp_prebuild.py from ufs-weather-model to fv3atm. Since then, the output in the build log reads like
[code]
when the argument `--suites` is specified. It used to be - and should be again -
[code]
where XXX is the comma-separated list of suites, i.e. `FV3_HAFS_ferhires,FV3_HAFS_FA_HWRF_RRTMG`. Alternatively, it could be
[code]
If no suites area spe

[2020-10-16 16:18] spencerkclark commented on #79
@junwang-noaa have you had a chance to investigate this further?  Are there settings we are missing and/or does this issue exist with the current version of fv3atm?

In our fork -- which is a little behind the latest version here -- adding the following above [these lines](https://github.com/NOAA-EMC/fv3atm/blob/90bc1a4d6b660b5497c36dc009e1624f9982a2b1/gfsphysics/GFS_layer/GFS_physics_driver.F90#L

[2020-10-16 18:12] junwang-noaa commented on #79
Sorry, I have not gotten time to check this. I just checked your code
changes, it makes sense to me. What I see is that the if statement should
be added to pass the updated tsfc on ocean points from gcycle to tsfc3 in
gfs physics driver. I may need to double check with our physics experts.

On Fri, Oct 16, 2020 at 12:18 PM Spencer Clark <notifications@github.com>
wrote:

[2020-10-16 18:46] spencerkclark commented on #79
Indeed I think another way to fix this would be to switch `tsfco` to `tsfc` here:

https://github.com/NOAA-EMC/fv3atm/blob/90bc1a4d6b660b5497c36dc009e1624f9982a2b1/gfsphysics/GFS_layer/GFS_physics_driver.F90#L1242

Keep us posted on what you think / what the physics experts say.  Thanks again for your help!

[2020-10-27 17:58] chan-hoo opened #191 "Fix to allow quilting with non-factors for layout"
## Description
When the layout values (lx, ly) in the input file 'input.nml' are not factors of (npx-1) and (npy-1) respectively, quilting does not work.

## Solution:
Gerhard's update will be applied to the develop branch.
ESMF's decomposition flags will be added to the two files in 'fv3atm': (1) io/module_wrt_grid_comp.F90, and (2) module_fcst_grid_comp.F90.

## Testing:

1. Regression test in t

[2020-11-03 01:36] junwang-noaa commented on #174
Committed, close issue.

[2020-11-03 01:36] #174 closed, assigned to nobody

[2020-11-04 20:25] JessicaMeixner-NOAA opened #194 "Adding coupled suite files for v16 physics"
## Description
Want to run the coupled model with GFSv16 physics. @SMoorthi-emc said this requires an additional line:
`      <scheme>sfc_cice</scheme>
`
not already in the existing suite files.

## Solution
Add two new suite definition files, one for NSST (suite_FV3_GFS_v16beta_couplednsst.xml) and one for no NSST (suite_FV3_GFS_v16beta_coupled.xml) are needed.   Branch with these updates is here

[2020-11-06 21:53] ligiabernardet opened #195 "release/public-v2: Update SDFs with correct version number"
The version number in the Suite Definition Files is set to 4. It should be set to 5, for compatibility with the CCPP v5 release.

Files suite_FV3_GFS_v15p2.xml and suite_FV3_RRFS_v1beta.xml: change ver="4" to ver="5".

[2020-11-13 14:30] climbfuji commented on #72
@junwang-noaa is this still the case?

[2020-11-13 14:30] climbfuji commented on #73
@junwang-noaa I think we did all that a long time ago, shall we close the issue?

[2020-11-13 14:40] junwang-noaa commented on #72
We don't have a chance to retest this one with the develop branch.

On Fri, Nov 13, 2020 at 9:30 AM Dom Heinzeller <notifications@github.com>
wrote:

[2020-11-13 14:42] #50 closed, assigned to nobody

[2020-11-13 14:42] junwang-noaa commented on #73
Yes, we can close this one.

[2020-11-13 14:42] #73 closed, assigned to nobody

[2020-11-13 14:44] junwang-noaa commented on #78
Gerhard provided a solution, and the code changes was committed with [PR #160](https://github.com/NOAA-EMC/fv3atm/pull/160)

[2020-11-13 14:44] #78 closed, assigned to nobody

[2020-11-16 15:52] pjpegion opened #198 "Stochastic physics no longer works with a different time-step than parent model"
## Description
The random patterns for the stochastic physics were able to support persist the current random pattern for a period of time (defined as SKEBINT,SPPTINT, etc.) before calculating new patterns. This is no longer the case, and when these namelist variable are used, the random patterns are pointing to uninitialize arrays, which causes the model to crash.

### To Reproduce:
'm running th

[2020-11-17 14:40] climbfuji commented on #195
Closed via https://github.com/NOAA-EMC/fv3atm/pull/197.

[2020-11-17 14:40] #195 closed, assigned to nobody

[2020-11-25 14:25] #187 closed, assigned to nobody

[2020-11-25 18:26] climbfuji commented on #194
Closed via https://github.com/NOAA-EMC/fv3atm/pull/202.

[2020-11-25 18:26] #194 closed, assigned to nobody

[2020-11-25 18:26] climbfuji commented on #191
This was fixed in develop, correct?

[2020-11-25 19:26] JoshuaFu-NOAA opened #203 "Implement high-frequency outputs in coupled runs and test coupled options with NSST and without NSST"
## Description
Provide a clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Solution
Add a clear and concise description of what solution you provide.

## Alternatives
If applicable, add a description of any alternative solutions or features you've considered.

## Testing:

1. Have you tested the code changes? On what platforms?
2. Have you run regressio

[2020-11-25 22:49] chan-hoo commented on #191
@climbfuji Yes. It was merged two days ago.

[2020-11-25 22:49] #191 closed, assigned to nobody

[2020-11-30 18:25] #198 closed, assigned to nobody

[2020-12-02 01:59] kgerheiser opened #206 "Duplicate symbols on macOS with Intel"
I'm getting duplicate symbols on macOS building with Intel 2021.1

I encountered this bug (different files) a few months ago which was fixed with https://github.com/NOAA-EMC/fv3atm/pull/173 (`gfsphysics/CMakeLists.txt`)

The problem is that `noahmp_tables.f90`, `CCPP_data.F90`, and `namelist_soilveg.f` are being built twice. Once in `CCPP_SOURCES` and once in `IPD_SOURCES` and then their symbols c

[2020-12-02 05:29] climbfuji commented on #206
See here https://github.com/ufs-community/ufs-weather-model/issues/309#issuecomment-737000252 please.

[2020-12-09 05:55] ShanSunNOAA opened #209 "Adding variables related to fractional landmask to the model output"
When the fractional land mask is used, there are extra variables representing properties associated with different surface types (land, water or ice). In addition, internal ice temperature (2-layer) will have its own array, rather than sharing it with internal soil temperature (4-layer by default) in the non fractional land mask case.

[2020-12-09 13:03] climbfuji commented on #209
Note that this will increase the memory footprint of the model. Right now, all variables that are required only between `GFS_surface_composites_pre` and `GFS_surface_composites_post` and that do not need to survive until the next time step are allocated `nthreads` times with a length of `blocksize`. If those variables are all made persistent, each of them will be allocated `nblocks` times with a l

[2020-12-09 20:57] ShanSunNOAA commented on #209
Hi Dom,

Good point. Then the question is do we need to output 3 surface
temperatures, on water, land and ice, respectively, besides composite
surface temperature? Since ice temperature already exists on the output
list, that means 2 more variables (water temp and land temp) to be added to
the output for the fractional cells, or they are considered model internal
or diagnostic only? The same goes

[2020-12-10 01:34] yangfanglin commented on #209
Shan,

I think from a product generation perspective, there is no need to output
three different variables for the same product type over a single point
with fractional masks. It can lead to more confusion.  However, do skin
different temperatures over a fractional grid need to be written in initial
and restart files to  maintain restart reproducibility ?

Fanglin

On Wed, Dec 9, 2020 at 3:57 PM s

[2020-12-10 01:43] SMoorthi-emc commented on #209
Restart files already contain all information needed to reproduce.

On Wed, Dec 9, 2020 at 8:34 PM Fanglin Yang <notifications@github.com>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research Court - (W/NP23), College Park MD 20740 USA
Tel: (301)683-3718

[2020-12-10 05:20] ShanSunNOAA commented on #209
Hi Fanglin,

As Moorthi pointed out, there are 3 different temperatures (tsea, tisfc and
tsfcl) in the initial condition, as well as in the restart file. If "tsfcl"
is not in the initial condition, tsfcl will be set to be the same as tsea
in "FV3GFS_io.F90".

At the moment, we output 2 temperatures (composite and ice temperature) in
the history files.

Shan

On Wed, Dec 9, 2020 at 6:43 PM SMoorthi

[2020-12-10 13:52] JessicaMeixner-NOAA commented on #209
@yangfanglin outputting the separate values can help for things such as validation because points will not be merged -- you can validate an observation w/the closest land or water values.  Separating this in output will also help with things such as forcing offline models where coastal points that are combinations of land/water values produce issues.   This issue was brought by the coupling group

[2020-12-10 14:16] yangfanglin commented on #209
@jessica I see your point. If the output is saved on the model native grid
(on the tiles) and the downstream model has the same grid structure ,
saving them separately indeed is very useful.  I am not sure how useful it
is if the atmospheric output/products  are already on the Gaussian or
interpolated lat-lon  grid.

Fanglin

On Thu, Dec 10, 2020 at 8:52 AM Jessica Meixner <notifications@github.co

[2020-12-10 14:26] AvichalMehra-NOAA commented on #209
Hi Fanglin,

   My preference would be to maintain the flexibility for now.
   Once we need to derive/design products, we can decide what/how to use.

 Thanks, Avichal.

On Thu, Dec 10, 2020 at 9:16 AM Fanglin Yang <notifications@github.com>
wrote:

--
    Dr. Avichal Mehra
    Chief, Dynamics and Coupled Modeling Group
    Modeling and Data Assimilation Branch
    NOAA/NWS/NCEP/EMC
    Ph.  301-6

[2020-12-10 14:38] yangfanglin commented on #209
Avichal,

I agree.
Probably they can be saved only in the surface netCDF file.  Including them
in products (grib2 files) will take considerably more disk space, if all
land variables, energy fluxes and temperatures at the interface layer are
saved two more times, making it difficult for product dissemination.
Delivering them to the forecasters indeed can cause more confusion than
providing help.

[2020-12-10 15:12] SMoorthi-emc commented on #209
Please note that the use of such information is minimal - only useful over
grid points having multiple surface types -i.e. primarily on the coast
lines.
There should be a better way.
Moorthi

On Thu, Dec 10, 2020 at 9:38 AM Fanglin Yang <notifications@github.com>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National C

[2020-12-14 16:03] climbfuji opened #213 "Cleanup work for adding tiice to restart files for runs without fractional grid"
## Description

When https://github.com/NOAA-EMC/fv3atm/pull/212 was merged, it was decided that always storing the ice layer temperatures separately from the soil layer temperatures is cleaner and less confusing. Until then, they were only stored separately when the fractional grid was used, but combined into the soil layer temperature array when the binary grid was used.

## Solution
The cleanup

[2020-12-14 16:06] ShanSunNOAA commented on #213
Impressive bookkeeping - thanks for the info!

[2020-12-15 15:18] climbfuji opened #214 "Remove IPD"
## Description

Now that we have a GFS v16 reference tag for the ufs-weather-model develop branch and its submodules, it is time to remove IPD.

## Solution

This should be done in several steps.

1. Remove all source files that are required for IPD only (in fv3atm) and make `CCPP=Y` the default in the ufs-weather-model compile/build scripts. This should not change the regression test results. How

[2020-12-16 16:29] DusanJovic-NOAA commented on #214
Also, in step 4 all non ccpp `*_run.IN` templates from `tests/fv3_conf` should be removed. And all ccpp templates renamed (drop `ccpp_` from `ccpp_xyz_run.IN`).

[2020-12-16 16:41] climbfuji commented on #214
Updated the list, thanks!

[2020-12-16 16:49] bensonr commented on #214
@climbfuji - because the [FV3 dycore project](https://github.com/NOAA-GFDL/GFDL_atmos_cubed_sphere)  has branches for the UFS (dev/emc & ufs public releases) and for GFDL (dev/gfdl) off the common main branch, the #ifdef/#endif pairs for CCPP can safely be removed.

[2020-12-16 16:55] climbfuji commented on #214
Thanks Rusty, that's great.

[2020-12-29 14:45] climbfuji commented on #203
@JoshuaFu-NOAA please update the description of the issue with the relevant information so that we know better what needs to be done, which repositories will be affected etc. Thanks.

[2020-12-30 04:35] XuLi-NOAA opened #219 "One NSST model constant change and the inclusion of the ccpp/physics submodule change"
## Description
Reduce the initialized warm layer thickness to be 20 m when the NSST model is cold start in FV3 io.
Add one ccpp suite: suite_FV3_GFS_v15p2_couplednsst.xml
Include the change in ccpp/physics submodule (see https://github.com/NCAR/ccpp-physics/issues/537).

[2021-01-05 03:04] climbfuji commented on #214
Note. As of Jan 4, 2021, step 2 has gained some urgency, since several developers have encountered the problem of duplicate symbols due to the land vegetation/soil table initialization being done in gfsphysics and ccpp/physics. See https://dtcenter.org/threads/compiling-error-duplication-gfsphysics-ccppphysics-lib and https://github.com/NOAA-EMC/fv3atm/issues/206, for example.

[2021-01-06 02:39] ValeryYudin-NOAA opened #222 "The new suite FV3_GFS_v16b_ugwpv1 for GFSv16b-127L/C96 to work on issue #347 in ufs-weather-model"
## Description
The new CCPP suite FV3_GFS_v16b_ugwpv1 and regression tests for warm_start and cold_starts
with GFSv16b (low resolution, C96_L127). The new suite represents the upgrade of uGWP (V1),CU-CIRES. It is capable to reproduce the realistic FV3GFS climate, including equatorial dynamics (QBO and SAO, 20-60 km)) and annual cycles in the extra-tropics and polar regions in the upper atmsosphere

[2021-01-09 03:10] ShanSunNOAA opened #226 "Cleanup of FV3GFS_io.F90"
Removing print statements in FV3GFS_io.F90: Lines 1082-1084; 1087-1088; 1096-1098; 1101-1102.  No change in results.

[2021-01-13 16:03] DeniseWorthen opened #230 "fv3 needs to export the 1-ice fraction that it used in calculating fluxes for export to the coupled model"
## Description

FV3 needs to export the open-water fraction to CMEPS so that CMEPS can properly normalize the fluxes imported from FV3 which are sent to other components (ocean,ice).

## Solution
A new export variable can be added in setup_exportdata

[2021-01-13 16:04] DeniseWorthen opened #231 "fv3 needs to export the 1-ifraction used in calculating fluxes for the coupled model"
## Description

FV3 needs to export the open-water fraction to CMEPS so that CMEPS can properly normalize the fluxes imported from FV3 which are sent to other components (ocean,ice).

## Solution

A new export variable can be added in setup_exportdata

[2021-01-13 16:06] DeniseWorthen commented on #231
closing duplicate issue.

[2021-01-13 16:06] #231 closed, assigned to nobody

[2021-01-16 13:10] climbfuji opened #235 "Removed unused/old 3D diagnostic tendencies from GFS_typedefs.F90 and CCPP-physics GFS_DCNV_generic ?"
The following three variables are passed to CCPP's `GFS_DCNV_generic.{F90,meta}`, but are no longer used (set) in the scheme. We need to decide what to do with the code and this variables. If the code should be activated again inside the `ldiag3d = .true.` block, then the allocation in `GFS_typedefs.F90` must be activated, too. Otherwise remove those three variables from both the scheme and `GFS_t

[2021-01-21 20:45] junwang-noaa commented on #230
Denise, do you have a standard field name for this open water fraction field? I will use "open_water_faction" for now. I think the same name needs to be used in nems field dictionary and CMEPS.

[2021-01-21 20:52] DeniseWorthen commented on #230
Yes, it will need to be the same. My working branch is [here](https://github.com/DeniseWorthen/fv3atm/tree/feature/sa_ofrac). I've called it openwater_frac_in_atm. This will be aliased in CMEPS to the name "Sa_ofrac".

This branch also contains a minor bugfix for when dumpfields=true.

[2021-01-21 21:02] junwang-noaa commented on #230
Your code changes look good. So in the coupled mode, since fv3 sends the
available fields to mediator before model start integration, the open water
frac in this case is from atmos ICs, it may not be consistent with the ice
fraction from the ice model, will it cause some issue in mediator?

On Thu, Jan 21, 2021 at 3:52 PM Denise Worthen <notifications@github.com>
wrote:

[2021-01-21 21:11] DeniseWorthen commented on #230
Thats a good point but I haven't seen any differences in the exchanged fields until after a few timesteps. The field that FV3 is sending back is meant to be identical to the field it received. Implementing it this way is much simpler than having CMEPS keep two time-levels.

[2021-01-21 21:21] SMoorthi-emc commented on #230
Why do you need this?
Open_water=(1-ice_frac)*ocean_frac.
Moorthi

Sent from my iPhone

[2021-01-21 21:24] DeniseWorthen commented on #230
because cmeps needs the open water fraction to re-normalize and it no longer has that value available since it would need to be the previous timestep.

[2021-01-29 18:19] mlee03 opened #242 "Update CMakeLists.txt for FMS"
## Description
The `CMakeLists.txt` files require updates in order to be compatible with the FMS `CMakeLists.txt` file.  This change is necessary for the UFS Weather Model cmake build to use the FMS `CMakeLists.txt` file.

## Solution
In `CMakeLists.txt`, the `fms` target needs to be changed to `fms_r4` for a 32BIT and `fms_r8` for a 64BIT compilation.  These changes are required in
1. CMakeLists.

[2021-02-01 15:24] mlee03 commented on #242
@aerorahul

could you review to make sure everything looks ok?  Thank you!

[2021-02-05 13:47] mlee03 commented on #242
This change is not necessary.

[2021-02-05 13:47] #242 closed, assigned to nobody

[2021-02-16 17:50] climbfuji commented on #222
Closed via https://github.com/NOAA-EMC/fv3atm/pull/241.

[2021-02-16 17:50] #222 closed, assigned to nobody

[2021-02-16 17:51] climbfuji commented on #42
@mcgibbon we addressed the restart reproducibility issues in the authoritative branches (ufs-weather-model develop) a while ago. Can you confirm it is working correctly now? Thanks.

[2021-02-16 19:11] mcgibbon commented on #42
That's great to hear, both that you ran into these issues (the last I heard was that the tests were passing in the UFS model), and that it's fixed. Can you give me any more detail about where this came up in ufs-weather-model?

We don't currently have our code set up to use the ufs-weather-model build system, so I can't quickly update the sources and run the test. This is something we're planning

[2021-02-16 19:11] #42 closed, assigned to nobody

[2021-02-16 19:37] climbfuji commented on #42
The two commits for fv3atm (develop) are listed in https://github.com/ufs-community/ufs-weather-model/pull/208 and https://github.com/ufs-community/ufs-weather-model/pull/325. You can also look at just the required changes for the release/public-v2 branches (for the upcoming SRW App release), which went in today (again in fv3atm mentioned here: https://github.com/ufs-community/ufs-weather-model/pu

[2021-03-02 02:17] junwang-noaa commented on #64
@shansun6 This was fixed, can we close the issue?

[2021-03-02 04:22] ShanSunNOAA commented on #64
Yes, please. I looked and didn't find the close button.

Shan

On Mon, Mar 1, 2021 at 7:19 PM Jun Wang <notifications@github.com> wrote:

[2021-03-02 12:36] #64 closed, assigned to nobody

[2021-03-02 12:39] junwang-noaa commented on #230
@DeniseWorthen Is there any update on committing the code changes?

[2021-03-02 12:56] DeniseWorthen commented on #230
I was going to update the ufs-weather issue [#366](https://github.com/ufs-community/ufs-weather-model/issues/366) today. Yesterday we got Bob Oehmke from ESMF involved in the ancillary issue which arose as part of adding this feature to try to determine if that ancillary issue is an ESMF or CMEPS bug.

I've tested the export field I've created for the open water fraction and it is nearly identical

[2021-03-02 13:08] junwang-noaa commented on #209
@AvichalMehra-NOAA Do you want to continue with this issue?

[2021-03-02 13:14] AvichalMehra-NOAA commented on #209
Yes but for P7.

[2021-03-02 13:18] junwang-noaa commented on #116
"ENABLE_QUAD_PRECISION" (default ON) is used in the FMS CMakeLists.txt. This issue is closed.

[2021-03-02 13:18] #116 closed, assigned to nobody

[2021-03-02 15:11] climbfuji commented on #142
@shansun6 will this be fixed by https://github.com/NCAR/ccpp-physics/pull/563 ?

[2021-03-02 15:14] climbfuji commented on #206
This will be fixed by https://github.com/NOAA-EMC/fv3atm/pull/249.

[2021-03-02 15:32] ShanSunNOAA commented on #142
Yes it is the same thing but at a higher FV3atm level. My misunderstanding
for creating an issue there as well.

Thanks,
Shan

On Tue, Mar 2, 2021 at 8:12 AM Dom Heinzeller <notifications@github.com>
wrote:

[2021-03-02 15:38] climbfuji commented on #235
@SMoorthi-emc what do you think, should we go ahead and remove `upd_mf`, `dwn_mf` and `det_mf` or activate the code in ccpp-physics again? Thanks!

[2021-03-02 15:39] climbfuji commented on #142
This will be fixed in https://github.com/NCAR/ccpp-physics/pull/563.

[2021-03-02 15:46] SMoorthi-emc commented on #235
I am not sure I understand.  RAS does provide these outputs.  I do not recommend removing these.

[2021-03-02 15:55] climbfuji commented on #235
Ok, thanks, let me take another look then.

[2021-03-02 15:59] grantfirl commented on #235
@climbfuji I'd also appreciate keeping these around for SCM. Convection developers definitely like to look at these in the output.

[2021-03-02 20:02] junwang-noaa commented on #213
Some issues come up in regional LAM parallel because the tiice was added to restart sfc file in PR#212. LAM runs on non-fractional grid and does not need to have this 2 layers tiice array. Below is the description below from Eric Rogers.

In the version of chgres_cube we're running in the LAM parallels:

commit 19942e0a15ac48a9c45bf1301dff7c837158e556 (HEAD -> develop, origin/develop, origin/HEAD)

[2021-03-02 20:34] climbfuji commented on #213
Just to make sure we understand each other, `tiice` should remain in the output for both binary and fractional grid applications. If it causes a problem in one of Tom's codes, then that one will need to be fixed.

[2021-03-02 20:38] junwang-noaa commented on #213
Maybe we misunderstood eath other. Can you remind me why tiice is required
for restart for non-fractional grid runs?

On Tue, Mar 2, 2021 at 3:34 PM Dom Heinzeller <notifications@github.com>
wrote:

[2021-03-02 20:45] climbfuji commented on #213
Putting tiice into tsfc, somewhere buried in the physics has several serious implications.
- extremely confusing, no developer knows what is going on, where the data is stored (hidden) and retrieved from
- this kind of logic deals with host model limitations (or external code limitations, better to say) and does not belong in physics routines
- if kice == number of ice levels == klsm == number of

[2021-03-02 20:48] ShanSunNOAA commented on #213
tiice was introduced for the fractional grid, where it was for internal ice
temp. In the nonfractional case, internal ice temperature borrows the soil
temperature slot, as ice and soil won't co-exist in this case.

I thought tiice would store its value in the soil temperature slot in the
nonfractioanl case prior writing to restart. In other words, tiice should
be purely internal for nonfractional

[2021-03-02 20:49] climbfuji commented on #213
This is all confusing ... no matter what, if kice > klsm it will break.

[2021-03-02 20:51] climbfuji commented on #213
tiice is always written to the restart files (and read from it), no matter whether fractional or not. Simply because of the flaws of this design choice that I mentioned above. See current FV3/io/FV3GFS_io.F90.

[2021-03-02 20:53] climbfuji commented on #213
https://github.com/NOAA-EMC/fv3atm/blob/4908898cdd71a84cef482a7e6c330697a39c7378/io/FV3GFS_io.F90#L908

[2021-03-02 21:08] junwang-noaa commented on #213
So tiice is not saved in tsfc any more even for the situation of non-fractional grid with kice<klsm. Then the downstream jobs may need to know this change and update accordingly.

[2021-03-02 21:19] climbfuji commented on #213
Yep, seems to be the cleanest solution.

[2021-03-02 21:22] SMoorthi-emc commented on #213
I thought I modified to write tiice separately  to avoid these issues.

Sent from my iPhone

[2021-03-02 21:23] SMoorthi-emc commented on #213
I thought that is what I did.
Moorthi

Sent from my iPhone

[2021-03-02 21:34] yangfanglin commented on #213
For the GSM/GFS, tsfc has  always been used to represent skin temperatures
over all surface types/grids, including land, ice and water.
Has this been changed ?   There are many downstream users relying on this
product.

On Tue, Mar 2, 2021 at 4:23 PM SMoorthi-emc <notifications@github.com>
wrote:

--
*Fanglin Yang, Ph.D.*
*Chief, Model Physics Group*
*Modeling and Data Assimilation Branch*

*NOAA/

[2021-03-02 21:39] SMoorthi-emc commented on #213
Tsfc has nothing to do with tiice.
They are different. Tiice is only in restart (I can’t see the code now - I will confirm later)
Moorthi

Sent from my iPhone

[2021-03-02 21:40] climbfuji commented on #213
Yes, that is what you did and what should remain. The cleanup work here was just a follow-up, not a reversal but got misinterpreted.

@yangfanglin this is about tiice and stc, not tsfc.

[2021-03-02 21:54] junwang-noaa commented on #213
I think the impact is that model used to output internal ice temp in stc
(soil temp) on ice points, but now the internal ice temp is saved in its
own array, I believe the stc does not contain the ice temp any more(restart
non-reproducible for non-fractional grid uncoupled with tiice) . At this
time, we also need to update the GFS_diagnostics.F90 to allow it output to
model history files for non-fr

[2021-03-02 22:01] SMoorthi-emc commented on #213
There is tiice in non fractional grid also.
It may also be in stc for non fractional case.
I did not add tiice to history partly because I don’t know enough about it plus also did not want change history
Moorthi

Sent from my iPhone

[2021-03-03 14:17] #142 closed, assigned to nobody

[2021-03-03 14:25] #206 closed, assigned to climbfuji

[2021-03-03 22:58] climbfuji opened #251 "Fix setting of bl_mynn_tkebudget in GFS_typedefs.F90 (affects diagnostics only)"
@egrell found a bug related to setting the `bl_mynn_tkebudget` control variable in `GFS_typedefs.F90`. In particular, the `bl_mynn_tkebudget` variable is not read in via namelist nor set. This should only affect diagnostic output of the MYNN PBL scheme.

To fix, simply add a couple of lines:

Add the `bl_mynn_tkebudget` around line 3446 (https://github.com/NOAA-EMC/fv3atm/blob/ddb56fe83ee75b62bcc9

[2021-03-03 22:58] climbfuji commented on #251
@joeolson42 FYI

[2021-03-04 18:53] climbfuji opened #253 "Need a better way to pass global communicator (w/o I/O tasks) to physics"
## Description
When the CCPP physics were introduced, it was required to pass the global communicator that includes all compute tasks, but not the I/O tasks, to the physics for the purpose of broadcasting lookup tables at physics init time etc.

This was implemented by @climbfuji by exporting `commglobal` from the dycore to populate a member of the GFS control DDT. As @bensonr pointed out, we shou

[2021-03-04 22:09] climbfuji commented on #235
@grantfirl @SMoorthi-emc coming back to this, since I am currently adding the RAS regression tests. The three arrays mentioned above are _not_ used by any of the physics schemes in ccpp-physics master, except
` FV3/ccpp/physics/physics/GFS_DCNV_generic.{F90,meta}`; however, in `GFS_DCNV_generic.F90`, the lines accessing/updating the three variables `upd_mf`, `dwn_mf` and `det_mf` are commented out

[2021-03-05 00:49] SMoorthi-emc commented on #235
Dom,
   You are right that not all the plumbing is available in the code (I
thought it was there in the IPD version).
Originally, I provided these outputs from RAS because the coupling to
GOCART needed these to drive tracer transport due to convection.
Normally UFS history file does not routinely provide these variables for
output, but may be in the future it could be provided on demand?
Thanks
Mo

[2021-03-05 03:25] climbfuji commented on #235
We can certainly turn them on, for example for the moment if ldiag3d and qdiag3d are true.

[2021-03-05 16:55] grantfirl commented on #235
The instantaneous values are good enough for the SCM's purposes, I think. As long as developers can look at them if they want to, then it's fine. Does FV3 ever output any of the interstitial variables though?

[2021-03-05 17:06] climbfuji commented on #235
No, you can't. I'll add the Diag values again.

[2021-03-05 17:22] grantfirl commented on #235
I thought that the qdiag3d logical was ONLY for tracer tendencies and that ldiag3d was for other tendencies. What about allocating when lssav = T?

[2021-03-05 17:25] climbfuji commented on #235
It was in the ldiag3d if block previously, therefore the idea to only allocate it then. Sure, lssav works but it means they will always be allocated, because lssav is always true.

[2021-03-05 17:34] joeolson42 commented on #251
This TKE budget option has been kept "hidden" because the diagnostic output is somewhat broken in the current code. I have some fixes coming. I'll make sure the namelist option are straightened out as I finish that work.

[2021-03-05 19:44] junwang-noaa commented on #79
The sst issue appears fixed in the latest develop branch. Here is what I get from the fv3 control run. The point is (179W, 45N)

[2021-03-05 19:48] junwang-noaa commented on #79
![image](https://user-images.githubusercontent.com/37633869/110166032-c576f600-7dc1-11eb-8230-57859620a850.png)

[2021-03-05 19:48] junwang-noaa commented on #79
Close the issue.

[2021-03-05 19:48] #79 closed, assigned to nobody

[2021-03-05 19:50] spencerkclark commented on #79
Excellent, thanks @junwang-noaa!  Would you happen to know the particular commit (or change) that fixed this?

[2021-03-05 20:41] junwang-noaa commented on #79
I did not track the issue with each commit, but I think it is the FV3 PR#155
<https://github.com/NOAA-EMC/fv3atm/pull/155> and  PR #204
<https://github.com/NOAA-EMC/fv3atm/pull/204>.

On Fri, Mar 5, 2021 at 2:51 PM Spencer Clark <notifications@github.com>
wrote:

[2021-03-05 22:58] oliverwm1 commented on #79
Thanks @junwang-noaa!

[2021-03-11 20:32] junwang-noaa commented on #253
@bensonr the forecast tasks communicator is passed to fms_init in the code [here](https://github.com/NOAA-EMC/fv3atm/blob/develop/module_fcst_grid_comp.F90#L246), can we get the communicator out from mpp or fms functions?

[2021-03-11 20:49] bensonr commented on #253
@junwang-noaa - we could, but I think the communicator should be pushed
down to atmos_model_init as an argument.  It should then be included as an
element of the GFS_init_type and sent down to the physics via the Init_parm
ddt - and not as yet another argument to GFS_Initialize (commglobal)

At the same time, the argument to GFS_Initialize being satisfied via
mpp_npes() should also become an eleme

[2021-03-12 15:18] AnningCheng-NOAA opened #257 "upgrade OPAC aerosol with more advanced MERRA2 aerosol"
## Description
Provide a clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Upgrade the 5 degree by 5 degree low resolution OPAC aerosol with MERRA2 aerosol
## Solution
Add a clear and concise description of what solution you provide.
read and interpolate the new MERRA2 data set to couple with radiation and microphysics
## Alternatives
If applicable, add a d

[2021-03-16 13:05] climbfuji commented on #235
PRs https://github.com/NOAA-EMC/fv3atm/pull/252 and https://github.com/NCAR/ccpp-physics/pull/585 reenable those mass flux tendencies.

[2021-03-17 20:28] ShanSunNOAA opened #260 "Surface instability over fractional grid"
From weizhong.zheng@noaa.gov

Numerical instability associated with super high surface temperature over a fractional grid, which was first seen at the southeast coast of Australia. A more physical implementation of the surface layer scheme is under development.

[2021-03-17 23:56] #235 closed, assigned to climbfuji

[2021-03-18 03:10] #214 closed, assigned to climbfuji

[2021-03-26 19:51] #257 closed, assigned to nobody

[2021-03-27 02:22] climbfuji opened #264 "Nests reading wrong namelist section atmos_model_nml"
## Description

The current code in fv3atm has a bug when running nested models. The atmos_model_nml section, which contains options such as ccpp_suite, blocksize, fhdiag, is currently read in fv3atm before atmosphere_init is called. This is required, because atmosphere_init needs ccpp_suite.

However, the capability to read the correct namelist for the nests is only turned on during atmosphere_in

[2021-03-30 13:33] DeniseWorthen opened #265 "update fv3atm for esmf bs47"
## Description
The coupled application is currently using esmf bs27. To update to a later bs47 changes are required in fv3atm.

## Solution

Changes are required in cpl/module_cap_cpl.F90 and fv3_cap.F90

## Alternatives

## Testing:

Testing on hera.intel and wcoss-dell-p3 show comparison failures for these tests and files (all other files pass either alt or direct comparison):

fv3_regional_quil

[2021-03-30 13:47] DusanJovic-NOAA commented on #265
Any particular reason why esmf bs47 instead of esmf 8.1.0, which was released yesterday?

[2021-03-30 13:51] DeniseWorthen commented on #265
No, probably not. It has been tested at bs47 but could be tested at 8.1.0 if it was available in the stacks.

[2021-04-05 14:21] #230 closed, assigned to DeniseWorthen

[2021-04-05 14:21] #265 closed, assigned to nobody

[2021-04-12 13:06] #264 closed, assigned to climbfuji

[2021-04-12 16:28] RuiyuSun opened #277 "adding namelist variables to the Thompson MP"
## Description
Provide a clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Solution
Add a clear and concise description of what solution you provide.

## Alternatives
If applicable, add a description of any alternative solutions or features you've considered.

## Testing:

1. Have you tested the code changes? On what platforms?
2. Have you run regressio

[2021-04-15 14:26] chan-hoo opened #281 "Regional IC/LBC routines in atmos_cubed_sphere allow only 'nemsio' as global attribute 'source'"
## Description
- The regional IC/LBC routines treat 'netcdf' and 'grib2' as the global attribute 'source' in input files differently from 'nemsio' though these three have the same logic in atmos_cubed_sphere.
- The global attribute 'source' is the output attribute of 'chgres_cube' and it has seven types. the other two names for 'netcdf' and 'grib2' need to be added to the regional IC/LBC routines

[2021-04-15 14:28] climbfuji opened #282 "Reduce number of CCPP suites after ufs-weather-model regression test update"
## Description

We currently (2021/04/15) have 68 suites in FV3's `ccpp/suites` directory. It is tedious to make changes to CCPP schemes that then require changing each suite definition file.

## Solution

After the update of the ufs-weather-model regression tests has been completed, I suggest:

1. Identify which suites are used by the regression tests, keep those.
2. For the remaining suites, ide

[2021-04-15 15:55] junwang-noaa commented on #219
Xu, can we close this issue? Thanks

[2021-04-15 16:04] XuLi-NOAA commented on #219
Yes, thanks!

On Thu, Apr 15, 2021 at 11:56 AM Jun Wang ***@***.***> wrote:

[2021-04-15 16:08] #219 closed, assigned to nobody

[2021-04-20 11:35] edwardhartnett opened #289 "Shall I add doxygen to the build system?"
Shall I add doxygen to the build system, which would allow programmers to start using doxygen in the code?

[2021-04-29 16:59] DeniseWorthen opened #293 ""inst_height_lowest" field can have negative values exported to ICE when running coupled."
## Description

The ATM ICs currently used in the coupled model can result in negative values of the field ``inst_height_lowest`` to be exported to the ICE. If these values get mapped to an ICE model point, the ICE model seg faults because it uses the ``inst_height_lowest`` value to calculate ``log(zlvl/zref)`` where ``zlvl`` is the imported height and ``zref=10m``.

### To Reproduce:

## Addition

[2021-05-06 15:02] edwardhartnett opened #295 "CMake build needs to test for presence, version of FMS, ESMF, 5 NCEPLIBS libraries"
CMake build needs to test for presence, version of FMS library

[2021-05-10 16:09] XiaSun-Atmos opened #296 "Assign integers to PBL schemes and surface layer schemes"
## Description
The microphysics schemes, land surface models, and convection schemes use integers for scheme options. For example, imp_physics =8 is for Thompson; lsm=1 is for Noah LSM, etc.

For PBL and surface layer schemes, they use logical expressions for scheme options. For example, satmedmf=.true. for TKE-based EDMF PBL scheme; do_mynnsfclay=.true. for MYNN surface layer scheme.

To keep con

[2021-05-10 16:15] climbfuji commented on #296
@junwang-noaa if you have any comments on how this might affect other downstream users/applications and operations than what @XiaSun-Atmos already mentioned, please let us know. Thanks!

[2021-05-10 16:47] junwang-noaa commented on #296
So far we don't have pbl scheme information in history files, so setting up integer for different PBL schemes will have no impact. Also model already has lsm in history files, unless there is some change in lsm definition, the impact should be small.

[2021-05-10 17:03] DusanJovic-NOAA commented on #296
Why integers? Strings are more descriptive. When I dump the file and see `lsm=2`, how do I know which scheme is used?

[2021-05-10 17:07] climbfuji commented on #296
Agree, we wanted to mimic what is done already. If we go to strings, we should do the same for the existing integer switches, too.

[2021-05-10 17:21] DusanJovic-NOAA commented on #296
We should. Integers are good for computations, not so much for labeling things.

[2021-05-10 18:02] SMoorthi-emc commented on #296
This is going to affect my workflow scripts.  Besides, shouldn't this be
discussed with physics developers first rather than unilaterally changing?

On Mon, May 10, 2021 at 1:21 PM Dusan Jovic ***@***.***>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Resear

[2021-05-10 18:07] climbfuji commented on #296
Correct, that's why I asked @XiaSun-Atmos to create issues in both fv3atm and ccpp-physics so that people become aware of the proposed changes and can give feedback.

The motivation for suggesting changes is that the current solution of a separate logical flag for each PBL scheme is a real mess and not manageable in the long run. Integers are better than those many logicals, strings are even bette

[2021-05-10 18:26] SMoorthi-emc commented on #296
Again,  a number gives no info about a scheme - so describing what the
numbers mean in a file along with the source code would be useful (e.g. a
readme file).

On Mon, May 10, 2021 at 2:07 PM Dom Heinzeller ***@***.***>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 Uni

[2021-05-10 18:30] yangfanglin commented on #296
To my opinion, either numbers or strings should work fine as long as they
are applied consistently and well documented in the source code, workflow
and offline documentations.

Fanglin

On Mon, May 10, 2021 at 2:26 PM SMoorthi-emc ***@***.***>
wrote:

--
*Fanglin Yang, Ph.D.*
*Chief, Model Physics Group*
*Modeling and Data Assimilation Branch*

*NOAA/NWS/NCEP Environmental Modeling Center*

*https

[2021-05-10 18:38] XiaSun-Atmos commented on #296
The definitions of existing number options of MP, LSM, and convection schemes are documented in[ GFS_typesdef.F90](https://github.com/NOAA-EMC/fv3atm/blob/develop/ccpp/data/GFS_typedefs.F90).

If numbers of PBL and surface layer schemes are applied (upon agreement of all parties), the documentation will also appear in GFS_typesdef.F90. Meanwhile, consistency checks of the namelist will be added at

[2021-05-12 13:14] #281 closed, assigned to nobody

[2021-05-12 19:06] JongilHan66 opened #299 "Physics update in cumulus convection, PBL & surface layer for UFS_P7"
## Description
1) Cumulus convection
     a) More strict convection trigger
     b) Reduced entrainment rate below cloud base
     c) Enhanced downdraft detrainments starting from 60mb above the ground surface
     d) Reduced rain evaporation
     e) Modification of cloud depth separating shallow convection from deep convection
2) PBL and surface layer
    a) Inclusion of wind shear effect reducin

[2021-05-12 20:16] JongilHan66 commented on #299
Description for the new maximum z/L parameterization can be found in the attached ppt file
[PBL_SL_inv_JHan.pptx](https://github.com/NOAA-EMC/fv3atm/files/6468850/PBL_SL_inv_JHan.pptx)

[2021-05-13 17:14] #293 closed, assigned to DeniseWorthen

[2021-05-20 14:59] lisa-bengtsson opened #304 "Updates to cellular automaton scheme"
Updates include:

1) Introduction of CA domain definition.
2) Read/Write and restart capability of CA
3) Significant cleaning of old ideas
4) Improved coupling to cumulus convection to be committed in coordination with this issue: NCAR/ccpp-physics#657

Test results with GFSv16 as a baseline (atmosphere only) can be found here: https://www.emc.ncep.noaa.gov/gmb/jhan/vsdbw/v16upcas2/ and https://ww

[2021-05-24 01:47] junwang-noaa commented on #289
Yes, it is good to have it in the build system.

[2021-05-24 06:35] rmontuoro opened #307 "Coupled FV3-GOCART system crashes after PR #301"
## Description
PR #301 crashes FV3 when coupling with GOCART due to updates in `setup_exportdata()`, which reference unallocated pointers when `cplflx` is .false.

### To Reproduce:
Issue observed on Hera and Orion with the Intel compiler when running with the coupled GOCART component (`cplchem = .true.`, `cplflx = .false.`)

[2021-05-24 06:53] rmontuoro opened #309 "Enable coupling with GOCART component"
## Description
Introduce changes required to enable coupling with UFS-Aerosols, a NUOPC-compliant component based on NASA GOCART.

[2021-05-24 11:01] edwardhartnett opened #311 "An error occured while running ccpp_prebuild.py - how to build fv3atm?"
When I run cmake on fv3atm I get an error. When I look in /home/ed/fv3atm/b/ccpp/ccpp_prebuild.{out,err} as directed, both files are empty.

How does one get fv3atm to build?

[code]

[2021-05-24 11:50] edwardhartnett opened #312 "Add a README for top-level documentation, and as a place to link to more detailed documentation"
Let us add a README.md to this repo, which will have some top-level documentation and (eventually) a pointer to more detailed documentation.

[2021-05-24 12:08] edwardhartnett commented on #295
I see in the CMakeLists.txt file that we need to check for the presence and version of a few libraries:

[code]

[2021-05-24 13:52] climbfuji commented on #311
Thus far, nobody has tried to build fv3atm standalone. The CCPP code generator probably doesn't run, (see call in fv3atm/ccpp/CMakeLists.txt), because ${Python_EXECUTABLE}) is not set. Python is configured in the ufs-weather-model top-level CMakeLists.txt:

# Configure Python
find_package(Python 3 REQUIRED COMPONENTS Interpreter)
message("Found Python: ${Python_EXECUTABLE}")

[2021-05-24 14:08] edwardhartnett commented on #311
OK, now when I run I get this error:

/home/ed/anaconda3/bin/python3.8: can't open file 'framework/scripts/ccpp_prebuild.py': [Errno 2] No such file or directory

Where is this file? I'm going to guess it's in another repository, correct? ;-)

[2021-05-24 14:11] climbfuji commented on #311
Yes, when you check out fv3atm, you need to do that recursively, otherwise you don't have a dycore and you don't have physics. Pretty useless.

[2021-05-24 14:11] edwardhartnett commented on #94
Apparently this repo still cannot be built stand-alone.

The build systems have painted this repo into a corner where we can't add testing or documentation. How can we fix this?

[2021-05-24 14:12] edwardhartnett commented on #311
Ah! Sorry, forgot the recursive checkout. I will try again...

[2021-05-28 16:50] junwang-noaa opened #320 "inline post issue at restart runs with gnu compiler"
## Description
The GFS restart run failed with gnu compiler. The error is reported in post_gfs.F90 where the association of a pointer needs to be checked before get the size of the pointer. An fix is required to make the code run with gnu compiler.

### To Reproduce:
What compilers/machines are you seeing this with? GNU compiler
Give explicit steps to reproduce the behavior.
1. Run the control res

[2021-06-07 14:40] climbfuji commented on #226
@shansun6 since the line numbers have changed, can you please provide the line numbers based on hash 116d701
 of the fv3atm repository?

[2021-06-07 17:18] ShanSunNOAA commented on #226
In FV3GFS_io.F90 of hash 116d701, please remove these lines below. Thanks.

   1067               if (Sfcprop(nb)%slmsk(ix) < 1.9_r8)      &
   1068                 write(*,'(a,2i3,3f6.2)') 'reset lake slmsk=2 at nb,ix=' &
   1069                ,nb,ix,Sfcprop(nb)%fice(ix),Sfcprop(nb)%slmsk(ix),Sfcprop(nb)%lakefrac(ix)

   1072                 write(*,'(a,2i3,3f6.2)') 'reset lake slmsk=0 at nb,ix=

[2021-06-10 14:20] #226 closed, assigned to climbfuji

[2021-06-21 03:01] junwang-noaa commented on #320
The issue is fixed in fv3atm PR#321, close issue.

[2021-06-21 03:01] #320 closed, assigned to nobody

[2021-06-21 03:02] junwang-noaa commented on #304
The code updates were committed on PR#305, close issue.

[2021-06-21 03:02] #304 closed, assigned to nobody

[2021-06-27 21:05] RuiyuSun opened #335 "add innerloop for Thompson MP and process fields from the Thompson MP in the post"
The

This issue is to add the inner loop to the Thompson microphysics scheme and add the function in the post to process the fields from the Thompson scheme.

Regression test of this has been partially completed on Hera.

[2021-07-01 13:13] #307 closed, assigned to nobody

[2021-07-02 22:42] climbfuji opened #338 "Several suite definition files missing calls to GFS_radiation_surface"
## Description

The following four suite definition files that are missing the call to `GFS_radiation_surface`:
[code]

[2021-07-12 13:06] #338 closed, assigned to nobody

[2021-07-12 19:30] climbfuji opened #340 "Remove scheme `rayleigh_damp` from all suite definition files"
## Description

Rayleigh damping in physics isn't used with fv3atm, because the dycore handles it. The CCPP scheme `rayleigh_damp` returns immediately if certain conditions are met, and these are true for all ufs-weather-model runs:
[code]

PR https://github.com/NOAA-EMC/fv3atm/pull/303 removes `rayleigh_damp` from a handful of suite definition files. We should remove it from all other suite defin

[2021-07-14 13:05] junwang-noaa commented on #309
Code is committed, close issue.

[2021-07-14 13:05] #309 closed, assigned to nobody

[2021-07-14 13:09] junwang-noaa commented on #260
@shansun6 I think this issus is resolved with the [PR#285](https://github.com/NOAA-EMC/fv3atm/pull/285), can we close the issue?

[2021-07-14 13:14] ShanSunNOAA commented on #260
Yes, it has been resolved. Please close this issue. Thanks,

Shan

On Wed, Jul 14, 2021 at 7:09 AM Jun Wang ***@***.***> wrote:

[2021-07-14 14:01] #260 closed, assigned to nobody

[2021-07-14 14:03] junwang-noaa commented on #82
This issue is for ipd. I will close the issue. If there is an issue with ccpp physics, we can open a new issue.

[2021-07-14 14:03] #82 closed, assigned to climbfuji

[2021-07-14 15:23] wzzheng90 opened #343 "ZERO surface albedo and ZERO surface upward shortwave flux outputs"
## Description
UFS P7b includes ZERO surface albedo and ZERO surface upward shortwave flux outputs.

Need to check if this issue is just for a post-process problem or problems related to physics schemes too.

### To Reproduce:
What compilers/machines are you seeing this with?
Give explicit steps to reproduce the behavior.
1. do this
2. then that
3. then, oops, look at the bug

## Additional contex

[2021-07-14 16:20] yangfanglin commented on #343
But the albedo scattering plot Lydia showed at the coupled model meeting today  have values

[2021-07-14 16:44] wzzheng90 commented on #343
Good point.  I need to double-check it if I use the same model outputs as Lydia.

[2021-07-15 03:26] junwang-noaa commented on #340
The code was merged, close issue.

[2021-07-15 03:28] climbfuji commented on #340
Sorry, the calls to `rayleigh_damp` were removed from a handful of suites as per description above, it is still in most of the suites. Reopening.

[2021-07-15 14:30] junwang-noaa opened #344 "dimension change in sfc restart files"
## Description
This is reported by Bin Liu.

After syncing with the ufs-weather-model develop as of 07/12/2012. I notice there is a change in the model output sfc_data restart files.

It looks to me there was a change of the "Time" dimension size from 1 into 2, and also only the zorl variable has the Time dimension now.
      double tg3 ( yaxis_1, xaxis_1 )
         long_name :    tg3
         uni

[2021-07-15 14:30] junwang-noaa commented on #344
After looking at the restart files in the baseline, the changes come from the fv3 [PR#285](https://github.com/NOAA-EMC/fv3atm/pull/285), committed on 5/27 @climbfuji

[2021-07-15 14:44] BinLiu-NOAA commented on #344
Thanks, @junwang-noaa! This issue/change was found/identified when conduct HAFS DA testing after syncing with the support/HAFS branch the latest ufs-weather-model develop branch. Also, @ericaligo-NOAA noticed this change in their FV3CAM DA testing as well.

[2021-07-15 15:03] climbfuji commented on #344
I think I know what happened. The variable `zorl` is already written to the restart files, now it is written twice. The I/O layer somehow thinks interprets this as two time indices (why?!?). It should have also thrown an error that this variable is already registered for restarts ...

I had to "add" the variable to get b4b identical results for restart runs. Since it was already in the restart fil

[2021-07-15 15:08] wzzheng90 commented on #343
This issue was identified. Zero values occur from the checked version and are related to regression test script "rt_35d.conf".
The original case selection "cpld_bmark_wave_v16_noahmp_35d" was changed to "cpld_bmark_wave_v16_p7b_35d" now.  So, this PR is closed now and no further action is taken.

[2021-07-15 15:10] #343 closed, assigned to nobody

[2021-07-15 15:18] junwang-noaa commented on #344
When you remove the redundant zorl variable, can you check if the time
dimension for other fields will go back? Or could it be something else that
messed up the time dimension for those fields.

On Thu, Jul 15, 2021 at 11:03 AM Dom Heinzeller ***@***.***>
wrote:

[2021-07-15 15:22] climbfuji commented on #344
Sure, I will check.

[2021-07-15 16:48] climbfuji commented on #344
So, the problem is NOT writing redundant zorl. The problem is that the existing code - before my changes - is reading a netCDF variable called `zorl` into `Sfcprop%zorlw` from initial/restart files, and writing `Sfcprop%zorlw` to a netCDF variable called `zorl` !

I can of course change the name of that variable, but we need to check carefully for unintended side effects.

[2021-07-15 17:13] junwang-noaa commented on #344
I don't get this part. It looks to me there is no issue about read/write a data array zorlw as zorl, that should not change the time dimension. Also previous code does not change time dimension. So again, we write out two zorl fields from two different data array, that is the cause messing up the time dimension, is this correct? So if we give two different field name for "zorlw" and "zorl", will t

[2021-07-15 17:15] climbfuji commented on #344
Yes, correct. we write out two zorl fields from two different data array. `Sfcprop%zorlw` should never have been written/read as `zorl` - very confusing. I am going to change that and keep `zorl` as in my PR and see what it does.

[2021-07-15 17:21] BinLiu-NOAA commented on #344
@climbfuji and @junwang-noaa, we previously also noticed that it is very confusing about using the zorl variable to store the zorlw value in the sfc_data.nc file. It will be definitely better to correct this (say having the correct zorl and zorlw, together with zorll and zorli in the restart sfc_data.nc files).

[2021-07-15 17:22] climbfuji commented on #344
Yep, that is what I am doing now. Ideally, they should be listed one after the other in FV3GFS_io.F90.

[2021-07-15 17:47] SMoorthi-emc commented on #344
zorlw is supposed to over water.  zorl is for the total grid.  zorll is
over land.

On Thu, Jul 15, 2021 at 1:23 PM Dom Heinzeller ***@***.***>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research Court - (W/NP23), College Park MD 20740 USA
Tel: (301)683-3

[2021-07-15 18:04] BinLiu-NOAA commented on #344
@SMoorthi-emc, Yes, zorl, zorll, and zorli were already there in sfc_data.nc restart files previously. Only the zorlw was missing and zorl used wrong values (zorlw).  But, I think @climbfuji is trying to fix this. Also agree with @climbfuji that these four variables should be listed one after the other in FV3GFS_io.F90.

      double zorl ( Time, yaxis_1, xaxis_1 )
         long_name :    zorl

[2021-07-15 18:10] SMoorthi-emc commented on #344
Unfortunately, there are two "zorl"
"      sfc_name2(5)  = 'zorl'" and
"      sfc_name2(38) = 'zorl'  !zorl composite"

Well, they are not together because the first one was with non fractional
grid and fractional grid was added only recently.

On Thu, Jul 15, 2021 at 2:04 PM Bin Liu ***@***.***> wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environm

[2021-07-15 18:11] junwang-noaa commented on #344
Dom is going to correct that

[2021-07-15 18:22] climbfuji commented on #344
I's not that straightforward. If I simply require Sfcprop%zorlw to be zorlw without making it an optional variable, the code will fail with
[code]
with existing initial conditions.

So what I really have to do is read `zorl` in the initial conditions as `Sfcprop%zorl`, make `Sfcprop%zorlw => zorlw` an optional variable, and change the current logic for computing `Sfcprop%zorl` from `Sfcprop%zorlw`

[2021-07-15 20:15] climbfuji commented on #344
Good news. If I make this change to read `zorl` in the initial conditions as `Sfcprop%zorl` and change the logic in the file to compute `zorlw`, I get "almost" the same results - they are b4b identical in checksums of state variables, but the RESTART surface files are different (because now there is zorlw and zorl, not a zorl variable with a time dimension of length 2).

This is for uncoupled/bina

[2021-07-16 12:56] #312 closed, assigned to nobody

[2021-07-16 15:02] BinLiu-NOAA opened #347 "Bring in HAFS related physics and coupling developments"
## Description
Bring in the HAFS related physics and coupling (with HYCOM and WW3) developments.

## Solution
Merge the changes developed through the UFS HAFS application team

## Related Issues and PRs:
- ncar/ccpp-physics/issues/683
- ncar/ccpp-physics/issues/700
- ncar/ccpp-physics/pull/701
- noaa-emc/fv3atm/pull/355
- noaa-emc/cmeps/pull/56
- noaa-emc/cdeps/pull/35
- ufs-community/ufs-weather-

[2021-07-16 22:31] climbfuji commented on #311
Is this a duplicate / part of #94 ?

[2021-07-16 23:06] climbfuji opened #348 "Wrong name of variable in FV3GFS_io.F90: 'weasd' should be 'weasdl'"
Line 1568 in `FV3GFS_io.F90` contains an error:

https://github.com/NOAA-EMC/fv3atm/blob/33c1a9c172f96f3117257e5d416529671fc38c61/io/FV3GFS_io.F90#L1568

This line should be 'weasdl' and not 'weasd'.

This bug will be corrected at the same time as https://github.com/NOAA-EMC/fv3atm/issues/344.

[2021-07-17 00:01] SMoorthi-emc commented on #348
Dom, thanks for catching this.  My typo.
Moorthi

On Fri, Jul 16, 2021 at 7:06 PM Dom Heinzeller ***@***.***>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research Court - (W/NP23), College Park MD 20740 USA
Tel: (301)683-3718

e-mail: ***@***.***
Phone:  (

[2021-07-17 00:45] edwardhartnett commented on #311
Let's close this and I will circle around and try again.

[2021-07-17 00:45] #311 closed, assigned to nobody

[2021-07-17 02:01] junwang-noaa commented on #344
@climbfuji how about other fields besides zorl, do they have dimension ((Time, yaxis_1, xaxis_1) too? Did the restart test reproduce control?

[2021-07-17 20:48] climbfuji commented on #344
All variables have the same dimensions, yes. I created new baselines and verified against them on gaea.intel, all tests pass.

[2021-07-20 20:42] junwang-noaa commented on #203
Since it is not clear what needs to be done in this issue, let's close it. We can open a new issue with detailed information if there is any request from coupled group.

[2021-07-20 20:42] #203 closed, assigned to nobody

[2021-07-22 17:56] climbfuji commented on #277
Closed as agreed upon in the discussion in the ccpp-physics PR.

[2021-07-22 17:57] #277 closed, assigned to nobody

[2021-07-23 13:12] #335 closed, assigned to nobody

[2021-07-23 13:12] #344 closed, assigned to nobody

[2021-07-23 13:12] #348 closed, assigned to nobody

[2021-07-24 14:48] wzzheng90 opened #351 "Correction of the diagnostic stability parameters for diagnostic variables (wind10m and T2m) under very unstable conditions"
## Description
In subroutine stabiity (sfc_diff.f), under very unstable conditions,  the following lines:

hl110 = min(max(hl110, ztmin1), ztmax1)
hl12  = min(max(hl12, ztmin1), ztmax1)

Since the above line "hl1   = -hlinf" is defined, "hl1" is posive, so these two lines are required to correct as follows:

hl110 =     max(hl110, ztmin1)
hl12  =     max(hl12, ztmin1)

Or, just remove these lines

[2021-07-24 23:43] wzzheng90 opened #352 "Modification of momemtum roughness length over ice in the surface layer scheme"
## Description
With the ice model coupled in the UFS, the original momemtum roughness length over ice (about 0.01m) needs to be updated with the momemtum roughness lenth from the ice model.
The original lines:

            tem1  = one - shdmax(i)
            tem2  = tem1 * tem1
            tem1  = one  - tem2

            if( ivegsrc == 1 ) then
              z0max = exp( tem2*log01 + tem1*log(z0m

[2021-07-26 12:57] wzzheng90 commented on #352
switched to #708.

[2021-07-26 12:57] #352 closed, assigned to nobody

[2021-07-26 12:57] wzzheng90 commented on #351
Switched to #707

[2021-07-26 12:57] #351 closed, assigned to nobody

[2021-07-27 15:38] junwang-noaa commented on #136
Code changes are committed in PR#345, close issue.

[2021-07-27 15:38] #136 closed, assigned to nobody

[2021-07-27 15:39] junwang-noaa commented on #253
Code changes are committed in PR#345, close issue.

[2021-07-27 15:39] #253 closed, assigned to nobody

[2021-07-27 15:44] junwang-noaa commented on #299
The code was committed in PR #314, close issue

[2021-07-27 15:44] #299 closed, assigned to nobody

[2021-07-29 01:56] SMoorthi-emc opened #358 "Add option to use sea-ce albedo predicted by the sea-ice model CICE in the atmospheric radiaton calculation"
## Description
Provide a clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Well, this is not a problem - rather it is an enhancement of the model.  It allows the user to couple albedo from sea-ice model with the atmospheric model
## Solution
Add a clear and concise description of what solution you provide.
Make the appropriate code updates
## Alternatives
I

[2021-08-02 20:39] climbfuji commented on #282
As of 2021/08/02, we have 80 suites in directory `ccpp/suites`. The ufs-weather-model regression tests use 41 of these. I believe that some of the following suites that are not used can be deleted. I would like to ask the physics developers and fv3atm code managers to help me identify which suites are no longer needed. @yangfanglin @SMoorthi-emc @junwang-noaa @DusanJovic-NOAA @ligiabernardet

I cr

[2021-08-02 20:50] yangfanglin commented on #282
Dom,  when you say the following suites that are not used can be deleted, do you mean they are not used by any of the regression tests ?   Can you give all access the spreadsheet to make comments ?

[2021-08-02 21:00] SMoorthi-emc commented on #282
What is the harm in keeping SDFs?
Considering that CCPP requires different SDF to turn on different physics options we should encourage having more SDF not less.
I am very disappointed with thought of having to remove SDF. This is not helping community modeling.
Sorry, I don’t endorse this.
Moorthi

Sent from my iPhone

[2021-08-02 21:01] climbfuji commented on #282
Yes, they are not used by any of the regression tests. I know that several suites should be kept for testing by our developers, but there are several that won't be used anymore (I would assume some of the old GFS v14 suites). This is why I created the spreadsheet so that we can gather information. It's open for commenting for all NOAA folks.

[2021-08-02 21:22] climbfuji commented on #282
Please see my reply to Fanglin. I think there are several suites that are really no longer in use, for example `FV3_CPT_v0` or some of the older GFS v14 variants. I am not saying we should remove suites that people are experimenting with (although a point can be made that these could be kept in user forks, but I know this is cumbersome and therefore prefer not to go this way).

But please keep in

[2021-08-04 01:02] rmontuoro opened #361 "Enable chemistry coupling in fully-coupled configuration"
## Description
Coupling with the chemistry component (UFS-Aerosols) should be enabled when other components are coupled, too.

[2021-08-05 13:33] junwang-noaa opened #364 "fix for regional inline post Lambert Conformal projection"
## Description
The regional inline post Lambert Conformal projection does not work in ufs-weather-model. Additional variables (last lon/lat) are computed in the grid definition section in the code, but they are not needed for Lambert Conformal projection and input variables are not provided in the model configuration. Using these parameters cause issues when running regional inline post with Lambe

[2021-08-13 15:07] #361 closed, assigned to nobody

[2021-08-16 16:04] climbfuji opened #370 "Remove several redundant variables for surface composite physics"
## Description

Several interstitial variables used in the composite physics are redundant and can be removed without changing the results. This results in an easier-to-understand code, lower memory footprint and potentially increased runtime performance.

[2021-08-17 16:17] #370 closed, assigned to nobody

[2021-08-18 22:44] BinLiu-NOAA commented on #347
Close issue #347 through PR #355.

[2021-08-18 22:44] #347 closed, assigned to nobody

[2021-08-18 22:51] climbfuji commented on #358
I believe this was committed in https://github.com/NOAA-EMC/fv3atm/pull/359 - correct?

[2021-08-18 22:59] BinLiu-NOAA opened #372 "Add a cplocn2atm namelist option to control ocean model feedback to FV3ATM"
## Description
Currently, when running coupled configurations/applications (e.g., HAFS or S2S). There is no available option to control one-way coupling to turn off the ocean model component feedback (e.g., SST) to FV3ATM.

## Solution
Similar to the cplwav2atm namelist option, add a cplocn2atm namelist option to turn on/off the ocean model component feedback (e.g., SST) to the atmosphere model co

[2021-08-18 23:38] SMoorthi-emc commented on #358
COrrect.

On Wed, Aug 18, 2021 at 6:51 PM Dom Heinzeller ***@***.***>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research Court - (W/NP23), College Park MD 20740 USA
Tel: (301)683-3718

e-mail: ***@***.***
Phone:  (301) 683-3718   Fax: (301) 683-3718

[2021-08-19 02:15] #358 closed, assigned to nobody

[2021-08-19 17:51] #340 closed, assigned to nobody

[2021-08-20 14:53] bensonr opened #373 "updates to utilize FMS 2021.03"
## Description
Updates to fv3atm to utilize FMS 2021.03 and begin transition to use fm2_io.  This is necessary for updating to latest version of FV3 "the dycore" to bring in updated nesting framework and support for regional nests.

## Solution
Updated code in io/FV3GFS_io.F90 and workarounds for a potential bug in gfortran compiler related to allocatable variable length character pointers.

## Al

[2021-08-20 16:46] bensonr opened #375 "update FV3 "the dycore" to fully support advanced nesting in regional domains"
## Description
need to update FV3 "the dycore" to the latest version available via NOAA-GFDL/GFDL_atmos_cubed_sphere/pull/128

## Solution
merge in PR when available

## Alternatives
N/A

## Testing:

1. Have you tested the code changes?  yes on gaea
2. Have you run regression test in ufs-weather-model or ufs-s2s-model with code changes?  yes
- Will the baseline results change?  yes
- If yes, plea

[2021-08-26 00:47] bensonr commented on #373
@DusanJovic-NOAA @junwang-noaa - should this be closed since it is marked as merged?

[2021-08-26 01:56] #373 closed, assigned to nobody

[2021-08-26 01:57] #364 closed, assigned to nobody

[2021-08-26 02:02] junwang-noaa commented on #72
The major memory issue in fv3atm was fixed in stochastic physics [PR#45](https://github.com/noaa-psd/stochastic_physics/pull/45), close issue.

[2021-08-26 02:02] #72 closed, assigned to nobody

[2021-08-27 15:02] #375 closed, assigned to nobody

[2021-09-07 09:39] edwardhartnett commented on #289
This is being held back by the lack of self-build capability in fv3atm. We can't do a doxygen build in CI if fv3atm cannot even be compiled successfully in CI.

[2021-09-08 13:48] BinLiu-NOAA commented on #372
Close #372 through #376 and ufs-community/ufs-weather-model#776.

[2021-09-08 13:48] #372 closed, assigned to nobody

[2021-09-09 01:38] XianwuXue-NOAA opened #381 "port fv3atm (production/GEFS_v12) to WCOSS2"
## Description
Port fv3atm (production/GEFS_v12) to WCOSS2

## Solution
Modify some codes to fix issue when compiling the codes on WCOSS2

## Alternatives
If applicable, add a description of any alternative solutions or features you've considered.

## Testing:

1. Have you tested the code changes? On what platforms?
2. Have you run regression test in ufs-weather-model or ufs-s2s-model with code ch

[2021-09-10 02:04] climbfuji opened #384 "CCPP must define its targets and dependencies correctly"
## Description

ccpp-framework and ccpp-physics must define their (cmake) targets and dependencies correctly, so that `ccpp/CMakeLists.txt` can be cleaned up.

[2021-09-13 13:58] climbfuji commented on #282
@DeniseWorthen Last I remember you were trying to work on that using the spreadsheet https://docs.google.com/spreadsheets/d/1oDF_L1pkt-J1engAnD431FhE-q09XtZ78LvrT4wZ1Y8/edit?usp=sharing. Can you remind me about the current status, please?

[2021-09-13 14:18] DeniseWorthen commented on #282
@climbfuji I am planning on removing ``FV3_GFS_2017_coupled`` and ``suite_FV3_GFS_2017_satmedmf_coupled.xml``. I can't do this until the PR #765 has been committed.

[2021-09-15 01:26] #384 closed, assigned to nobody

[2021-09-17 15:26] aerorahul opened #390 "Move cmake build of the dycore to the dycore repo."
## Description
This repository hosts the build of the FV3 dycore code.
So, if the list of files changes in the FV3dycore repo, this repo needs an update to include the changes.

## Solution
Let the dycore build the library as a standalone library that this repo can import as a target.

## Alternatives

## Testing:

The PR will test the code changes.

## Dependent PRs:

Depends on:
- https://github

[2021-09-23 15:36] #390 closed, assigned to nobody

[2021-09-27 13:13] BinLiu-NOAA opened #399 "Regional telescopic nesting cannot run under ufs-weather-model framework"
## Description
The regional telescopic nesting configuration cannot run under the ufs-weather-model framework.

## Additional context
Fix and testing are currently under the UFS-HAFS application.

## Dependent PRs:

Directly reference any issues or PRs in this or other repositories that this is related to, and describe how they are related. Example:

- associated with noaa-emc/fv3atm/pull/400
- as

[2021-09-27 15:37] rmontuoro opened #401 "Replacing single NUOPC run phase with two sequential run phases leads to surface layer differences in P7 configurations"
## Description
Large differences in surface layer quantities occur in fully coupled (P7) experiments when running the atmosphere component (ATM) using two sequential run phases (phase1, phase2) instead of a single one. Such differences appear after the first coupling time step, and are most evident for surface temperature, 2m temperature, and surface heat fluxes.

### To Reproduce:
This issue was

[2021-09-29 03:18] junwang-noaa opened #403 "fix the output file name with non-integer output time and the diag_time for random output time"
## Description
The output file name does not have correct time stamp when the output time is not a integer. E.g. output_fh=0.25, the file name is currently atmf00.nc and sfcf00.nc. Also for random output time, the diag_time may not be updated when the output time is not multiple of fhzero. Fixed are provided to fix the two issues.

### To Reproduce:
1. check out the develop branch and run control

[2021-09-30 22:17] #381 closed, assigned to nobody

[2021-10-01 16:26] junwang-noaa commented on #403
Code is merged, close issue.

[2021-10-01 16:26] #403 closed, assigned to nobody

[2021-10-05 19:57] #401 closed, assigned to nobody

[2021-10-15 13:22] bensonr opened #411 "need to update atmos_cubed_shere hash"
## Description
Need to update the hash for atmos_cubed_sphere to bring in latest bugfixes and enhancements.

## Solution
updated hash

## Testing:
New hash has been tested in the ufs-weather-model RTS on gaea with success
Baseline RTS results are unchanged
Updates have also been tested in a future update by @XiaqiongZhou-NOAA

## Dependent PRs:
- associated ufs-weather-model/pull/870

[2021-10-19 15:55] #411 closed, assigned to nobody

[2021-11-02 13:21] #399 closed, assigned to nobody

[2021-11-06 16:32] HelinWei-NOAA opened #418 "number of 2d fields in DDT sfcprop is not right in FV3GFS_io.F90"
The number is messed up with the recent commits. The bug will have some impact on the initial fields

[2021-11-08 02:21] HelinWei-NOAA commented on #418
Just discussed with Moorthi. I agreed with him that the bug will not have any impact on the forecast. temp2d is only used for diagnostic only.

[2021-11-09 15:37] AnningCheng-NOAA opened #420 "decrease of memory usage of MERRA2 data by 6 times"
## Description
Provide a clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
The 12 months of MERRA2 data is read in for interpolation, which use large memory
## Solution
Add a clear and concise description of what solution you provide.
A way is found to read in only 2 months of data and saves the memory usage

## Alternatives
If applicable, add a description

[2021-11-12 14:47] #418 closed, assigned to nobody

[2021-11-18 21:52] RuiyuSun opened #427 "Semi Lagrangian sedimentation of graupel and update of corresponding namelist variables"
## Description
The semi-Lagrangian sedimentation of graupel is added. The namelist variables controlling the semi-Lagrangian sedimentation of precipitation (rain and graupel) are modified. Now SEDI_SEMI and DECFL is the switch. DECFL is the deformed CFL factor.

Semi-Lagrangian sedimentation of precipitation is added as an option and does not change results before it is turned on.

## Testing:
The

[2021-11-19 00:26] SMoorthi-emc opened #429 "Zero net longwave sent to ocean"
## Description
Provide a clear and concise description of what the bug is.
Also give a description of how to fix the bug.
The net long wave radiation received in the ocean model has zero value everywhere.
The fix is to remove initializing  the interstitial variable semis_water in GFS_typedefs.F90

### To Reproduce:
What compilers/machines are you seeing this with?
Give explicit steps to reproduce

[2021-11-22 17:21] climbfuji opened #430 "Mismatch of vertical dimensions for ak and bk"
## Description

This bug only affects model runs with different radiation and physics levels. I noticed it when using the newly developed debugging capability in CCPP that checks the dimensions of arrays in the metadata against the actual dimensions of the array.

Variables `ak` and `bk` in `GFS_typedefs.F90` are provided and used as follows, which at first glance suggests that the dimensionality

[2021-11-22 17:56] yangfanglin commented on #430
It is correct "there will never be any model runs where there are more radiation levels (excluding the extra layers at top LTP, those are treated differently)"

Yes, for model runs with fewer radiation levels (levr) than physics levels (levs), it is true that the radiation levels are exactly the same as the physics levels up to the point levr and that the levels above are simply ignored by the rad

[2021-11-22 18:03] climbfuji commented on #430
Thanks, Fanglin, this is helpful. I will make those changes in a forthcoming PR.

[2021-11-22 19:02] SMoorthi-emc commented on #430
Just to be clear, pressure corresponding to "Model%levr+1" should be the
model top.
So, for the radiation calculation, the top layer goes from Model%levr to
model top i.e. Model%levs+1.
Moorthi

On Mon, Nov 22, 2021 at 1:03 PM Dom Heinzeller ***@***.***>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers fo

[2021-11-23 13:51] climbfuji commented on #427
@RuiyuSun I merged ccpp-physics - please update the submodule pointer and revert `.gitmodules`, new ccpp-physics hash is c3627d9 . Thanks!

[2021-12-09 13:49] ericaligo-NOAA opened #437 "Correction to allow reflectivity from water coated ice to be shown at output times"
## Description
The 3D instantaneous reflectivity at output times is supposed to include water coated ice, however, a bug in the reset flag results in the enhanced reflectivity due to water coated ice to be computed on off times.  The fix is a one line change in GFS_tyypdefs.F90 from
Interstitial%radar_reset = mod(Model%kdt-1, nint(Model%nsradar_reset/Model%dtp)) == 0
to
Interstitial%radar_reset =

[2021-12-09 13:53] AnningCheng-NOAA opened #438 "MERRA2 diagnosed number concentrations of ice friendly (NIFA) and liquid friendly aerosols (NWFA)."
## Description
Provide a clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
number concentrations of ice friendly  (NIFA) and liquid friendly aerosols (NWFA) are forecasted  in Thompson microphysics. It is taken about 10% more computation time and becomes unrealistically large with long integration
## Solution
Add a clear and concise description of what solu

[2021-12-10 16:05] DusanJovic-NOAA opened #441 "Code cleanup. Remove used code/variables. Fix minor inconsistencies."
There are a lot of unused code/variables, a lot of little inconsistencies. Time for some cleanup.
For exact code changes see PR #440.

[2021-12-17 13:23] #441 closed, assigned to nobody

[2021-12-20 13:49] WenMeng-NOAA opened #448 "Update inline post with latest UPP release"
## Description
Update inline post with latest UPP release.

## Solution

- Update upp submodule with tag upp_v10.0.11 from UPP repository.
- Update global inline post read interface with adding foundation temperature.

## Alternatives
If applicable, add a description of any alternative solutions or features you've considered.

## Testing:

1. Have you tested the code changes? On what platforms?

[2021-12-20 15:09] DusanJovic-NOAA opened #451 "Use 'model set run clock' routine in FV3 NUOPC cap"
FV3 cap currently keeps a local copy of model clock and advances it in model advance phase2. This can be avoided by adding specialization of "SetRunClock" routine in the nuopc cap.

[2021-12-27 14:05] #451 closed, assigned to nobody

[2021-12-30 15:39] climbfuji commented on #430
@SMoorthi-emc This is something that needs to be checked - I don't think this is the case, but I could be wrong

[2022-01-03 14:30] #448 closed, assigned to nobody

[2022-01-05 00:35] SMoorthi-emc opened #460 "snow depth initialization error and remove unneaded code from ccpp and add protection for roughness length over ice"
## Description
Provide a clear and concise description of what the bug is.
Also give a description of how to fix the bug.
Snow is initialized incorrectly for the case when land and water coexist (i.e. fractional grid) when the input contains only grid mean snow.

Also, there is some code in ccpp-physics that is not needed anymore and may add error if not removed (specifically for the uncoupled cas

[2022-01-12 12:37] SMoorthi-emc opened #464 "snod bug"
## Description
Provide a clear and concise description of what the bug is.
Also give a description of how to fix the bug.
The snow depth in the atmosphere surface file has many bulls eye near the land/ocean boundaries in coupled runs.
It turns out that there is a bug in the way snow volume from the ice model as used in the atmos model.
### To Reproduce:
What compilers/machines are you seeing this

[2022-01-13 14:17] #464 closed, assigned to nobody

[2022-01-17 02:54] climbfuji commented on #430
Fixed in https://github.com/NOAA-EMC/fv3atm/pull/431

[2022-01-17 02:54] #430 closed, assigned to nobody

[2022-01-25 04:00] junwang-noaa commented on #460
The code was merged, the issue is closed.

[2022-01-25 04:00] #460 closed, assigned to nobody

[2022-01-25 14:13] junwang-noaa commented on #429
The code updates to fix the issue was committed in PR #434. Issue is closed.

[2022-01-25 14:13] #429 closed, assigned to nobody

[2022-02-02 20:09] SMoorthi-emc opened #473 "bug fix for gwdps.f"
## Description
Provide a clear and concise description of what the bug is.
Also give a description of how to fix the bug.
Our collaborators from Taiwan reported an error in gwdps.f which needs to be fixed.

### To Reproduce:
What compilers/machines are you seeing this with?
Give explicit steps to reproduce the behavior.
1. do this
2. then that
3. then, oops, look at the bug

## Additional context

[2022-02-08 18:39] grantfirl commented on #473
fixed in #475

[2022-02-08 20:45] junwang-noaa opened #477 "Add I dimension start and end information for the write group tasks"
## Description
Add i dimension start and end index  information for the tasks in a write group. This information can be used by the UPP 2D decomposition test.

## Solution
Set up the lon_start_wrtgrp and lon_end_wrtgrp array with the lon start and end information.

## Alternatives
If applicable, add a description of any alternative solutions or features you've considered.

## Testing:

1. Have you

[2022-02-09 16:12] JessicaMeixner-NOAA opened #478 "Add SDF for p8b coupled and standalone"
## Description
Add SDF for p8b settings for coupled and uncoupled.

## Solution
Add SDFs originally made by @yangfanglin

Files are here: https://github.com/jessicameixner-noaa/fv3atm/tree/feature/p8b

## Testing:

1. Have you tested the code changes? On what platforms? In progress.
2. Have you run regression test in ufs-weather-model or ufs-s2s-model with code changes?
- Will the baseline results

[2022-02-10 16:55] #477 closed, assigned to nobody

[2022-02-10 18:50] DusanJovic-NOAA opened #481 "Multiple output grids"
## Description
fv3atm should support outputting history files for parent and all nested domains

## Solution
Update fv3 cap and write grid component to enable more than one set of history files to be written out.

## Alternatives
Use FMS diag manager to write out outputs on all nested domains.

## Testing:

1. Have you tested the code changes? Yes On what platforms? Hera.
2. Have you run regressio

[2022-02-15 16:22] #481 closed, assigned to nobody

[2022-02-16 01:28] rmontuoro opened #483 "Enable Thompson MP when coupling with UFS-Aerosols"
## Description

Due to legacy settings implemented for GEFS-Aerosols, the Thompson microphysics scheme cannot be selected when the UFS weather model is run with prognostic aerosols (UFS-Aerosols).

This update is required to perform prototype 8 experiments.

## Solution

The Thompson MP scheme should be enabled when coupling with UFS-Aerosols, making sure that both microphysics and aerosol tracers

[2022-02-22 15:27] #483 closed, assigned to nobody

[2022-02-25 01:47] rmontuoro opened #488 "Restart files are incorrectly generated when using multiple run phases"
## Description
Restart files are not written at the proper time if the model is explicitly run with multiple NUOPC run phases.

### To Reproduce:

Replace the single model instance (`ATM`) with two sequential run phases in the NUOPC run sequence (`nems.configure`) as in the following example:
[code]

[2022-03-03 19:40] ClaraDraper-NOAA opened #493 "Update land perturbation scheme to Noah-MP"
## Description
The current land perturbation scheme (lndp=2) needs to be updated to the Noah-MP land model for use in GFSv17.

## Solution
Update the routine applying land perturbations to also work with Noah-MP.
At the same time, revise the namelist options for applying land perturbations to the regional system (HRRR), since these are currently confusing and sometimes use the land model as a prox

[2022-03-04 18:58] arunchawla-NOAA commented on #94
@edwardhartnett @aerorahul @junwang-noaa @climbfuji

the PRs related to this issue are either in draft mode or closed. Is this issue still open ?

[2022-03-04 19:30] arunchawla-NOAA commented on #282
@climbfuji

can we close this issue ? the PR associated with this issue is already closed

[2022-03-04 19:32] climbfuji commented on #282
Yes ... I am declaring defeat on my overly ambitious goal of really reducing the number of suites ;-)

[2022-03-04 19:32] #282 closed, assigned to climbfuji

[2022-03-05 18:53] climbfuji opened #495 "Replace use of `ccpp_api` with `ccpp_types` in CCPP_driver.F90"
See https://github.com/NOAA-EMC/fv3atm/blob/47d391c09a9b7a8c6fe5fff76c61921487891785/ccpp/driver/CCPP_driver.F90#L3

Type `ccpp_t` should be imported directly from `ccpp_types` instead of the legacy `ccpp_api`. The latter previously provided a consistent API into CCPP when the dynamical CCPP was used. With the introduction of the static CCPP and the auto-generated `ccpp_static_api`, the old `ccpp_

[2022-03-08 13:59] edwardhartnett commented on #94
Certainly this repo should be able to build and test itself.

I have closed my open PR, but I encourage leaders of the FV3 team to bring their CMake build up to date, including stand alone builds, checking for dependencies and versions, unit testing, CI with GitHub actions, and documentation with doxygen. These process elements will only fall into place when they are regarded as firm requirements.

[2022-03-08 14:16] arunchawla-NOAA commented on #473
@SMoorthi-emc and @grantfirl is this fixed ? There are some PRs that have been merged

[2022-03-08 14:19] SMoorthi-emc commented on #473
Yes.

On Tue, Mar 8, 2022 at 9:17 AM arun chawla ***@***.***> wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research Court - (W/NP23), College Park MD 20740 USA
Tel: (301)683-3718

e-mail: ***@***.***
Phone:  (301) 683-3718   Fax: (301) 683-3718

[2022-03-08 14:24] #473 closed, assigned to nobody

[2022-03-08 14:29] #295 closed, assigned to nobody

[2022-03-08 18:42] edwardhartnett commented on #289
I will close this issue until there is greater interest, and a fixed build system.

[2022-03-08 18:43] #94 closed, assigned to nobody

[2022-03-10 14:20] #478 closed, assigned to nobody

[2022-03-10 21:58] JustinPerket opened #500 "fcst_grid_comp not duplicating mpi communicator gotten from ESMF before fms_init uses it"
I encountered this a while ago, but am reporting this now. HT to ESMF team and @bensonr  for helping through it at the time

fms_init is using the same communicator that is being gotten from ESMF:

https://github.com/NOAA-EMC/fv3atm/blob/3bcba5162232745cd0d500c2da0bd5e5c09d814e/module_fcst_grid_comp.F90#L386

      call ESMF_VMGetCurrent(vm=vm,rc=rc)
      if (ESMF_LogFoundError(rcToCheck=rc, msg=

[2022-03-19 22:17] WenMeng-NOAA opened #504 "Update upp submodule for fixing UPHL issue found in 3-km RRFS North American grid"
## Description
There is is an issue found from inline post for UPHL 2-5km issue in 3-km RRFS North American grid

## Solution
Update upp submodule with the latest UPP release upp_v10.0.12.

## Alternatives
If applicable, add a description of any alternative solutions or features you've considered.

## Testing:

1. Have you tested the code changes? On what platforms? Yes, on WCOSS1-Dell
3. Have you

[2022-03-20 17:47] climbfuji opened #506 "Split GFS_typedefs.F90 to avoid running out of memory when compiling with optimization"
## Description

Compiling `GFS_typedefs.F90` with production flags led to problems on systems that had too little memory avaiable (WCOSS). Therefore, a change was introduced recently to compile `GFS_typedefs.F90` without optimization. By splitting this file, it should (may?) be possible to remove this workaround.

## Solution
Move `GFS_interstitial_type` from `GFS_typedefs.F90` to `CCPP_typedefs.F

[2022-03-20 17:51] climbfuji opened #507 "Rename `CCPP_interstitial_type` and `CCPP_interstitial` (variable)"
## Description
In https://github.com/NOAA-EMC/fv3atm/issues/506, it is proposed to move `GFS_interstitial_type` from `GFS_typedefs.F90` to `CCPP_typedefs.F90`. This file already has an interstitial DDT `CCPP_interstitial_type` that is used for the FV3 dycore. The latter name `CCPP_interstitial_type` is confusing, because `GFS_interstitial_type` is also an interstitial type used by CCPP.

## Soluti

[2022-03-22 14:16] ChunxiZhang-NOAA opened #510 "Move deprecated suite definition files (SDFs) into a 'untested' subdirectory"
## Description
Many suite definition files (SDFs) are no longer supported by regression tests (RTs). Therefore, there are high risks that those SDFs will encounter errors when used in applications. We decided to move those SDFs into a 'untested' subdirectory under the ccpp/suites directory. Users can modify and test those deprecated SDFs.

**The SDFs that will be saved are:**
FV3_GFS_v17_p8
FV3_GF

[2022-03-24 15:29] #504 closed, assigned to nobody

[2022-03-24 21:35] ClaraDraper-NOAA opened #512 "For Noah-MP, the vegetation fraction in output files is not the same values as used by the model."
## Description

Currently, when using the Noah-MP model, the vegetation fraction is set during each Noah-MP call, with the exact way it is set depending on the iopt_dveg setting. The vegetation fraction (fveg) is used in Noah-MP, and then passed out to the noah-mp driver as vegetation_fraction, where it is used. However, this value is not saved to the sfcprop%vfrac variable, which has a different

[2022-03-24 21:36] ClaraDraper-NOAA commented on #512
@barlage  - I don't seem to have permission to assign people.

[2022-03-24 23:31] HelinWei-NOAA commented on #512
sfcprop%vfrac refers to seasonal varying GVF (Green Vegetation Fraction). Both Noah and LUC LSM use it to reflect the vegetation seasonality while LAI is set o the constant value. While Noah-MP uses the varied LAI for vegetation seasonality and annal maximum GVF is used to indicate the vegetation cover fraction. So sfcprop%vfrac has the different definition for Noah-MP compared to Noah and LUC.

[2022-03-24 23:42] ClaraDraper-NOAA commented on #512
Thanks @HelinWei-NOAA Am I correct though that sfcprop%vfrac is not actually used in Noah-MP? If it is used, can you please tell me where (if it is used, I need to change the land perturbation scheme for Noah-MP).

[2022-03-24 23:50] HelinWei-NOAA commented on #512
We recommend using option 4 for dveg. In this case sfcprop%vfrac  (shdfac in the code) is not used in Noah-MP. Instead we use shdmax (maximum shdfac) as fveg.

[2022-03-24 23:57] HelinWei-NOAA commented on #512
For Noah-MP, it makes more sense to perturb LAI+SAI rather than vfrac or fveg.

[2022-03-25 16:26] ClaraDraper-NOAA commented on #512
@HelinWei-NOAA You say:  " We recommend using option 4 for dveg. In this case sfcprop%vfrac (shdfac in the code) is not used in Noah-MP."  This is the point I'm trying to make. If we're not vfrac, I don't think it should be included in the model output, as this will confuse people (like it did me!).

[2022-04-12 17:22] #495 closed, assigned to nobody

[2022-04-12 17:22] #506 closed, assigned to nobody

[2022-04-12 17:22] #507 closed, assigned to nobody

[2022-04-19 20:24] tse-chunchen opened #522 "Adding NN evaluation for FV3"
## Description
To facilitate neural network (NN) based correction to the state variables, I would like to introduce subroutines that define and evaluate a typical feedforward NN and call it from the model (similar to https://github.com/AlexBelochitski-NOAA/fv3atm_full_physics_nn_emulator/).

## Solution
* Current plan is to implement it in a similar way as the IAU update since they are both adding

[2022-04-27 10:08] DeniseWorthen commented on #122
This change would simplify the CICE6 cap, since calculations done in the cap to provide these fields could be removed. @junwang-noaa is it possible to pass these variables from FV3?

[2022-04-27 12:19] junwang-noaa commented on #122
@DeniseWorthen We only need these two variables on the lowest model layer, correct?

[2022-04-27 12:48] DeniseWorthen commented on #122
That is correct. In the CICE cap, we calculate the potential Temperature using the pres_height_lowest and the inst_temp_height_lowest. We calculate air density using pres_height_lowest, specific_humidity_lowest and temperature lowest. So the lowest level pTem and air density at lowest level would be consistent.

[2022-05-05 21:06] pjpegion opened #530 "error in single time-step physics output"
## Description
I am running the model, writing history every time-step. Even though I am setting fhzero to the output interval, in my case I am running with 720 seconds, so fhzero is 0.2.  But the logic in CCPP_driver results in phys_zero to never being called.

I am Proposing changing
if (mod(GFS_control%kdt,GFS_control%nszero) == 1) then
to
if ((mod(GFS_control%kdt-1,GFS_control%nszero)+1) == 1)

[2022-05-09 13:52] junwang-noaa commented on #530
@pjpegion maybe the title can be more specific, e.g.  "error in single time-step physics output when fhzero=dtp".

[2022-05-17 18:03] pjpegion opened #536 "Error checking in GFS_typedefs.F90 does not abort coupled model"
## Description
The error checking logic in GFS_typedefs.F90 only uses a stop, which only aborts the atmospheric tasks,  the ocean and ice model do not get an abort message and just hang.

### To Reproduce:
hera / intel
Give explicit steps to reproduce the behavior.
1. run a coupled RT
2. then change cplflx=.false.
3. then, model write error message, and atmosphere model processor abort, but model

[2022-05-20 19:17] lipan-NOAA opened #539 "update production/GEF_v12 branch for GEFS-Aerosols v12.3 implementation"
This is the change of the FV3 part corresponding to the https://github.com/NOAA-EMC/GSDCHEM/issues/4

[2022-06-06 14:25] DusanJovic-NOAA commented on #530
Fixed in #531

[2022-06-06 14:25] #530 closed, assigned to nobody

[2022-06-08 16:34] mark-a-potts opened #547 "Create a working version of fv3atm with ccpp release-v6 for use with the SRW release/public-v2"
The SRW needs a version of the ufs-weather-model that uses version 6 of CCPP. This release branch of fv3atm will be used in the corresponding release branch of ufs-weather-model that will be used by the SRW in its release/public-v2.

[2022-06-10 13:58] DusanJovic-NOAA opened #551 "Update fv3atm code to fms2_io"
FMS library will deprecate and eventually remove fms_io and mpp_io modules from future releases. Code must be updated to replace (or remove) any use of those modules with newer fms2_io.

[2022-06-10 16:33] rsdunlapiv commented on #129
@junwang-noaa @DusanJovic-NOAA @theurich it looks like this fix will be required to upgrade UFS to ESMF 8.3.0.  Do you have someone who can look into this?  How extensive do you think the changes will be?

[2022-06-10 18:21] DusanJovic-NOAA commented on #129
I looked at the type of `_FillValue` in history files in 'control' and 'control_CubedSphereGrid' regression test baselines:

[code]
and as you can see the types of `_FillValue`and `missing_value` corresponds to the variable type in control, while it's different (double vs float) in control_CubedSphereGrid. History files in control run are written by the write component, and in control_CubedSphereG

[2022-06-10 18:24] DusanJovic-NOAA commented on #129
ESMF Fields are created (and field attributes added) in io/FV3GFS_io.F90 in subroutine `add_field_to_phybundle`

[2022-06-10 20:21] DusanJovic-NOAA commented on #129
I added this debug code to look at the type of field attributes, and can confirm that both _FillValue and missing_value are ESMF_TYPEKIND_R4, yet in the netcdf file they are written out as doubles.

[code]

[2022-06-15 14:55] junwang-noaa opened #554 "ignore checksum option and performance with (1,1) io layout"
## Description
The PR includes code changes related to dycore [PR#197](https://github.com/NOAA-GFDL/GFDL_atmos_cubed_sphere/pull/197).  In PR#197, an option is added to allow one to override restart data integrity checks enforced for FMS-based io, also the PR has enhancements to improve new FMS-based io when using an io_layout of (1,1)

## Solution
An option is added to allow one to override resta

[2022-06-29 16:29] SamuelTrahanNOAA opened #559 "cpl/module_block_data.F90 is getting extremely complex"
## Description

As noted in https://github.com/NOAA-EMC/fv3atm/pull/534, the cpl/module_block_data.F90 data conversion logic, the code is getting complicated and repetitive, which results in error-prone development.

## Solution

There is probably a cleaner way to implement this, such as a mix of polymorphic classes and select statements (as suggested by Jun), cpp (`#` lines) tricks, or a preproce

[2022-07-01 14:55] junwang-noaa commented on #554
The code is merged.  The issue will be closed.

[2022-07-01 14:55] #554 closed, assigned to nobody

[2022-07-11 18:30] junwang-noaa commented on #539
The code is merged. The issue will be closed.

[2022-07-11 18:30] #539 closed, assigned to nobody

[2022-07-11 18:31] junwang-noaa commented on #547
The code is merged, the issue will be closed.

[2022-07-11 18:31] #547 closed, assigned to nobody

[2022-07-11 18:40] junwang-noaa commented on #512
@ClaraDraper-NOAA @HelinWei-NOAA It looks to me this is a diag_table issue that the veg (sfcprop%vfrac) should not be output if Noah-MP is used, is it correct? Do we have Noah-MP documentation that we can add this information? Also do we still want to update the code to have undefined values for veg when using NoahMP?

[2022-07-11 19:37] junwang-noaa commented on #129
@rsdunlapiv @theurich  do you have any idea why the ESMF 830 writes out field attributes as double even though the field itself and attributes are set as real(4) as Dusan's test showed?

[2022-07-11 23:53] rsdunlapiv commented on #129
We should have a fix for this in this PR from @DusanJovic-NOAA: https://github.com/esmf-org/esmf/pull/51  Apologies, but the merge for this is still pending.

[2022-07-15 18:08] ClaraDraper-NOAA commented on #512
@junwang-noaa Yes, I suggest that when Noah-MP is used with dveg options that do not use the sfcprop%vfrac we should not output the sfcprop%vfrac (or output NaN-type values) as it's misleading. I don't know if there are any dveg options that actually use sfcprop%vfrac though.

[2022-07-26 21:03] BrianCurtis-NOAA opened #563 "state_diagnose in module_cap_cpl does not support 4d vars"
## Description
In the UFS-weather-model we noticed that state_diagnose only supported 3d vars and threw a PET ERROR in the PET logs when a 4d variable was used if we set dbug_flag in nems.configure to 6 (for example)

### To Reproduce:
set cap_debug_flag=6 in default_vars
run cpld_control_p8 and cpld_control_noaero_p8 from the UFS RT system
look through PET000 log file
noaero test shows no PET ERR

[2022-07-29 13:11] #551 closed, assigned to nobody

[2022-08-03 09:27] binli2337 opened #571 "Use FV3 dynamical core component to include changes related to mixed-mode FMS"
## Description
A pull request has been submitted to NOAA-GFDL/GFDL_atmos_cubed sphere to update the dynamical core that can be built in 32-bit while the FMS is built in 64-bit.

The atmos_cubed_sphere in fv3atm needs to be updated to use the updated dynamical core.

## Solution
Update FV3 dynamical core component.

## Alternatives
If applicable, add a description of any alternative solutions or fe

[2022-08-04 14:43] #563 closed, assigned to nobody

[2022-09-12 15:52] DeniseWorthen commented on #427
@RuiyuSun It looks like this issue was fixed a long time ago? If so, we need to close this issue.

[2022-09-12 15:53] DeniseWorthen commented on #420
@AnningCheng-NOAA I believe this issue has been fixed a long time ago? If so, please close the issue.

[2022-09-12 15:55] DeniseWorthen commented on #296
Can anyone provide an update on this issue? Is it still under discussion?

[2022-09-12 15:57] DeniseWorthen commented on #213
This is a very old issue. I will close. Please re-create the issue if required.

[2022-09-12 15:57] #213 closed, assigned to climbfuji, ShanSunNOAA

[2022-09-12 18:12] AnningCheng-NOAA commented on #420
@DeniseWorthen, yes it was resolved  a long time ago. Closed.

[2022-09-12 18:12] #420 closed, assigned to nobody

[2022-09-12 18:53] RuiyuSun commented on #427
I think it is. Please close it.

[2022-09-12 18:56] #427 closed, assigned to nobody

[2022-09-22 16:44] SamuelTrahanNOAA opened #586 "boundary blending code tries to blend points outside domain & boundary"
## Description

The boundary blending code in fv_regional_bc.F90 tries to blend data in regions that are neither inside the domain, nor in the boundary. This problem may originate from the model (fv3atm repo) not the dynamical core (GFDL_atmos_cubed_sphere repo) so I'm making the issue here. In particular, so far as I can tell, the fv_regional_bc.F90 does not allocate the arrays used as input to t

[2022-09-30 17:41] uturuncoglu opened #590 "Adding external land component support for FV3"
## Description
The existing implementation only allows to run land component internally through the used of CCPP/physics. To allow interaction with the external land component FV3 and its coupling interface need to be extended.

## Solution
Make required changes in the coupling interface as well as CCPP/physics to allow interaction with the external land component.

## Alternatives
No

## Testing:

[2022-10-28 15:09] #590 closed, assigned to nobody

[2022-11-17 19:57] ericaligo-NOAA commented on #437
The same changes need to be done for all max hourly fields. They were being reset one time step before the top of the hour.
This line:
Interstitial%max_hourly_reset = mod(Model%kdt-1, nint(Model%avg_max_length/Model%dtp)) == 0

will be replaced with this line:
Interstitial%max_hourly_reset = (Model%kdt == 1 .or. mod(Model%kdt, nint(Model%avg_max_length/Model%dtp)) == 0)

[2022-11-18 15:18] SamuelTrahanNOAA opened #604 "change surface restart code to not use hard-coded indices"
## Description
The surface restart code uses hard-coded indices, which makes it difficult to add new restart variables, especially if different land surface schemes need different numbers of variables.

## Solution
Use calculated indices like `num=num+1` as is done elsewhere. See solution in #605

## Alternatives
Can't think of any good ones.